page-correspondencia{
    .dataDisplay{
        font-size: 9px;
    }
    .bgApp{
        background-color: #eeeeee;
    }
    .fontSize{
        font-size: 11.5px;
    }

    .colorTopCorrespondencia{
        color: #4DC2FF;
    }
}