<!--
  Generated template for the NewPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="topCorrespondencia">
    <ion-title>Correspondências</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="bgApp">
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

  <!-- <ion-list>
     <ion-item text-wrap *ngFor="let correio of correspondenciaList">
      <span class="dataDisplay"> {{correio.strDataDeCadastro}}</span> - Correspondência recebida
      <ion-icon name="mail-open" item-end item-right large *ngIf="correio.visto"></ion-icon>
      <ion-icon name="mail" item-end item-right large *ngIf="!correio.visto"></ion-icon>
    </ion-item> 
  </ion-list> -->

  <ion-card *ngFor="let correio of correspondenciaList">
      <ion-card-content>
        <ion-item *ngIf="!correio.visto" (click)="openModel()"> 
            <span class="colorTopCorrespondencia">{{correio.strDataDeCadastro}}</span><br />
            <ion-icon iten-end name="mail" item-end item-right large *ngIf="!correio.visto" color="topCorrespondencia"></ion-icon>
            <span class="fontSize">Aviso de correspondência.</span>
        </ion-item>

        <ion-item *ngIf="correio.visto"> 
            <span>{{correio.strDataDeCadastro}}</span><br />
            <ion-icon iten-end name="mail-open" item-end item-right large></ion-icon>
            <span class="fontSize">Aviso de correspondência.</span>
        </ion-item>
        
      </ion-card-content>
    </ion-card>
</ion-content>