<ion-header>
        <ion-toolbar color="primary">
          <ion-title>
              <ion-icon name="chatbubbles"></ion-icon> Chat
          </ion-title>
          <ion-buttons start>
            <button ion-button (click)="dismiss()">
              <span ion-text color="light" showWhen="ios">Voltar</span>
              <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
            </button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      
      <ion-content>     
          <ion-list>
              <ion-item text-wrap *ngFor="let usuario of listaDeUsuariosChat" (click)="iniciarConversa(usuario.id)">
                  <ion-label> 
                      <ion-icon name="person"></ion-icon> {{usuario.nome}} {{usuario.sobrenome}}
                      <!-- <p *ngFor="let  of usuario.diasDaSemana">
                           {{dia}} - {{ativ.horaInicio}}
                      </p>  -->
                  </ion-label>
                  <ion-icon name="ios-arrow-forward" item-end item-right small></ion-icon>
              </ion-item>  
          </ion-list>
      </ion-content>