<ion-header>
        <ion-toolbar color="dark">
          <ion-title>
            Editar Veículo
          </ion-title>
          <ion-buttons start>
            <button ion-button (click)="dismiss()">
              <span ion-text color="light" showWhen="ios">Voltar</span>
              <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
            </button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      
      
      <ion-content>
        <form [formGroup]="form" (submit)="editVeiculo()">
         
          <ion-list no-lines>

            <ion-item>
                <ion-label stacked>Marca / Modelo:</ion-label>
                <ion-input formControlName="modelo"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label stacked>Cor:</ion-label>
                <ion-input formControlName="cor"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label stacked>Placa:</ion-label>
                <ion-input formControlName="Placa"></ion-input>
            </ion-item>            
      
            <ion-item>
                 <button ion-button block padding type="submit" color="dark" [disabled]="!form.valid">Salvar alterações</button>
            </ion-item>
      
          </ion-list>
      
        </form>
      </ion-content>