<ion-header>
    
      <ion-navbar color="primary">
        <ion-title>Classificados</ion-title>
      </ion-navbar>
    
    </ion-header>
    
    
    <ion-content>
        <ion-refresher (ionRefresh)="doRefresh($event)">
            <ion-refresher-content></ion-refresher-content>
        </ion-refresher>

        <ion-toolbar color="subVagas">
            <ion-row>
                <ion-col width-100 style="text-align:center;color:#fff">Classificado de Vagas <br />Deslize para a esquerda para chamar no chat.</ion-col>
            </ion-row>  
        </ion-toolbar>
        
        <ion-list>    
           <ion-item-sliding *ngFor="let vaga of vagaDisponibilizadasList">
              <ion-item text-wrap>
                  <ion-avatar item-start class="numUnidade">
                     Unidade<br /> {{vaga.numeroApt}}
                  </ion-avatar>
                  <p>Vaga disponibilizada pela unidade {{vaga.numeroApt}} do {{vaga.strGrupo}}</p>
                  <p class="txtMenor">Vaga disponível para negociação</p>
                  <ion-icon name="ios-arrow-back-outline" item-end item-right small></ion-icon>
              </ion-item> 
              <ion-item-options side="right">
                    <button ion-button color="secondary" (click)="requisitarVaga(vaga.apartamentoID, vaga.id)">
                        <ion-icon name="swap"></ion-icon>
                        Solicitar
                    </button>
                  <button ion-button color="primary" (click)="presentActionSheetClientes(vaga.apartamentoID)">
                      <ion-icon name="chatbubbles"></ion-icon>
                      Chat
                  </button>
              </ion-item-options>
      </ion-item-sliding> 
       </ion-list> 
    </ion-content>