tabClassificadoVagas-page{
    .numUnidade{
        background-color:#4DC2FF;
        text-align: center;
        color:#fff;
        padding: 17px;
        font-weight: bold;
    }
    .txtMenor{
        font-size: 9px;
    }
}