tabVagas-page{
    .text-on-bottom > .button-inner {
        flex-direction: column;
        text-transform: capitalize; 
    }

    .numUnidade{
        background-color:#387ef5;
        text-align: center;
        color:#fff;
        padding: 17px;
        font-weight: bold;
    }

    .txtMenor{
        font-size: 9px;
    }

    .vagaOcupada{
        color: #AC0305;
    }

    .vagaLivre{
        color: #168603;
    }

    .disponivelParaNegociar{
        color : #D2B704;
    }

    .vagaTransferidaParaOutraUnidade{
        color:#AC4E00;
    }
}