<ion-header>
    
      <ion-navbar>
        <ion-title>Controle de Vagas</ion-title>
      </ion-navbar>
    
    </ion-header>
    
    
    <ion-content>
        <ion-toolbar color="subVagas">
            <ion-row>
                <ion-col width-100 style="text-align:center;color:#fff">Deslize para a esquerda para mais opções.</ion-col>
            </ion-row>  
        </ion-toolbar>
       <ion-toolbar color="light">
            <ion-row>
                <ion-col>
                    <button ion-button color="primary" clear block small  class="text-on-bottom">
                      <ion-icon name="swap"></ion-icon><label>Minhas</label></button>       
                </ion-col>
                <ion-col>
                 <button ion-button color="secondary" clear block small class="text-on-bottom" (click)="openModalRecebidas()">
                   <ion-icon name="swap"></ion-icon><label>Recebidas</label></button>            
                </ion-col>
                <ion-col center text-center>
                    <button ion-button color="vagaCedida" clear block small class="text-on-bottom" (click)="openModalTransferencia()">
                      <ion-icon name="swap"></ion-icon><label>Requisições</label></button> 
                </ion-col>
              </ion-row>
        </ion-toolbar>
        <ion-refresher (ionRefresh)="doRefresh($event)">
                <ion-refresher-content></ion-refresher-content>
             </ion-refresher>
        <ion-list>
           <ion-item-sliding *ngFor="let vaga of listaDeVagasDisplay">
              <ion-item text-wrap>
                  <ion-avatar item-start class="numUnidade">
                      <ion-icon name="car"></ion-icon>
                  </ion-avatar>
                  <p>Vaga pertencente a unidade</p>
                  <p *ngIf="vaga.ocupado" class="vagaOcupada"> <ion-icon name="car"></ion-icon> Ocupada</p>
                  <p *ngIf="!vaga.ocupado&&!vaga.transferido" class="vagaLivre"> <ion-icon name="car"></ion-icon> Livre</p>
                  <p *ngIf="vaga.transferido" class="vagaTransferidaParaOutraUnidade"> <ion-icon name="car"></ion-icon> Transferida para outra unidade.</p>
                  <p class="txtMenor" *ngIf="vaga.disponibilizada" class="disponivelParaNegociar">Disponível para negociação</p>
                  <ion-icon name="ios-arrow-back-outline" item-end item-right small *ngIf="(!vaga.ocupado&&!vaga.disponibilizada&&!vaga.transferido)||(vaga.disponibilizada||vaga.transferido)"  ></ion-icon>
              </ion-item> 
              <ion-item-options side="right">
                  <button ion-button color="primary" *ngIf="!vaga.ocupado&&!vaga.disponibilizada&&!vaga.transferido"  (click)="disponibilizarVaga(vaga.apartamentoID)">
                      <ion-icon name="redo"></ion-icon>
                      Anunciar
                  </button>
                  <button ion-button color="secondary" *ngIf="vaga.disponibilizada||vaga.transferido" (click)="retomarMinhaVaga(vaga.id)">
                      <ion-icon name="swap"></ion-icon>
                      Retomar
                  </button>
              </ion-item-options>
      </ion-item-sliding> 
       </ion-list>
    </ion-content>