<ion-header>
    
      <ion-navbar color="dark">
        <ion-title>Veículos</ion-title>
      </ion-navbar>
    
    </ion-header>
        
    <ion-content>

        <ion-refresher (ionRefresh)="doRefresh($event)">
            <ion-refresher-content></ion-refresher-content>
        </ion-refresher>
        <ion-toolbar color="subVagas">
            <ion-row>
                <ion-col width-100 style="text-align:center;color:#fff">Deslize para a esquerda para mais opções.</ion-col>
            </ion-row>  
        </ion-toolbar>
        <ion-list>
           <ion-item-sliding *ngFor="let veiculo of listaDeVeiculos">
              <ion-item text-wrap>
                  <p><ion-icon name="car"></ion-icon> Modelo: {{veiculo.modelo}} / Cor: {{veiculo.cor}} <br /> Placa: {{veiculo.placa}}</p>
                  <p class="txtMenor">Veículo cadastrado</p>
                  <ion-icon name="ios-arrow-back-outline" item-end item-right small></ion-icon>
              </ion-item>
              <ion-item-options side="right">
                  <button ion-button color="primary" (click)="openModalEditVeiculo(veiculo)">
                      <ion-icon name="create"></ion-icon>
                      Editar
                  </button>
                  <button ion-button color="remover" (click)="excluirVeiculo(veiculo.id)">
                        <ion-icon name="trash"></ion-icon>
                        Remover
                    </button>
              </ion-item-options>
            </ion-item-sliding> 
       </ion-list>
        
       <ion-fab right bottom>
            <button ion-fab color="dark" (click)="openModalNovoVeiculo()"><ion-icon name="add"></ion-icon></button>
            <!--<ion-fab-list side="left">
                <button ion-fab><ion-icon name="logo-facebook"></ion-icon></button>
                <button ion-fab><ion-icon name="logo-twitter"></ion-icon></button>
                <button ion-fab><ion-icon name="logo-vimeo"></ion-icon></button>
                <button ion-fab><ion-icon name="logo-googleplus"></ion-icon></button>
            </ion-fab-list>-->
        </ion-fab>
    </ion-content>