<ion-header>
    <ion-navbar color="dark">
      <ion-title>Vagas</ion-title>
    </ion-navbar>
  </ion-header>
  <ion-tabs>
    <ion-tab tabTitle="Classificado" tabIcon="text" [root]="classificadoTab"></ion-tab>
    <ion-tab tabTitle="Veículos" tabIcon="car" [root]="veiculosTab"></ion-tab>
    <ion-tab tabTitle="Controle de Vagas" tabIcon="swap" [root]="ctrlVagasTab"></ion-tab>
  </ion-tabs>