page-vaga{
    .tabs-md .tab-button {
        color: #474646 !important;
       }
      
       .tabs-md .tab-button[aria-selected=true] {
         color: #474646 !important;
       }
       .tab-button-icon{
        color: #474646 !important;
       }
}