﻿page-login {

  .pageLogin {
    background-image: url(../assets/img/fundoLogin.png);
    //background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
    color:#fff;
    background-position: top;
  }

  .logoLogin {
    height: 165px;
    width: auto;
    margin-top:12% !important;
    margin-bottom: 25px !important;
  }

  .nLogoText {
    // color: #fff;
    // font-weight: bold;
    // font-size: 20px;
    width: 200px;
    height: auto;
  }

  .imgBtnCodigo {
    width: 150px;
    height: auto;
  }

  .right {
    float: right;
  }
 
  // .input {
  //   background-color: #fff !important;
  // }

  .item-ios, .item-md {
    background-color: transparent !important;
  }

  .txt{
    color: #009CD4;
  }

  .topForm{
    margin-top:30px;
  }
  @media screen and (max-width: 2048px) and (min-width: 768px)   {
    .logoLogin {
      height: 350px;
      width: auto;
      margin-top:12% !important;
      margin-bottom: 25px !important;
    }

    .nLogoText {
      width: 480px;
      height: auto;
    }

    .topIpad{
      margin-top: 135px
    }
    .topForm{
       margin-top: 170px;
    }
  }
}