﻿<!--
  Generated template for the NewPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>     
  
 </ion-header>
<ion-content class="pageLogin">
  <ion-grid no-padding class="topIpad">
    <ion-row>
      <ion-col col-12 text-center>
        <!-- <img src="assets/img/Icon_CondominioApp.png" class="logoLogin" /><br /> -->
        <img src="assets/img/simbolo.gif" class="logoLogin" /><br />
        <img src="assets/img/logotipo2.png" class="nLogoText"/>
      </ion-col>
    </ion-row>
   <!-- <ion-row>
      <ion-col col-12 text-center>
        <img src="assets/img/imgCodigo.png" class="imgBtnCodigo" (click)="openModalCodigo()" />
      </ion-col>
      <ion-col col-6>
        <a href="#" ><img src="../../assets/img/imgTeste.png" /></a>
      </ion-col>
    </ion-row>-->
  </ion-grid>
  
  <form [formGroup]="form" (submit)="autenticar()" class="topForm">
    <ion-list no-lines>

      <ion-item>
        <ion-label>E-mail</ion-label>
        <ion-input type="text" formControlName="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Senha</ion-label>
        <ion-input type="password" formControlName="senha"></ion-input>
      </ion-item>

      <ion-item text-center>
        <button ion-button round padding type="submit" color="btnLogin" [disabled]="!form.valid" style="width: 220px">Entrar</button>
      </ion-item>

      <ion-item text-center>
        <p class="txt" (click)="openRecuperarSenha()">Esqueci minha senha</p><br />
        <p  (click)="openModalCodigo()">Não possui uma conta ainda? <span class="txt">Cadastre-se agora!</span></p>
      </ion-item>

    </ion-list>
  </form>
</ion-content>