<ion-header>
        <ion-toolbar color="topMural">
          <ion-title>
            Novo Post - Mural
          </ion-title>
          <ion-buttons start>
              <button ion-button (click)="dismiss()">
                <span ion-text color="light" showWhen="ios">Voltar</span>
                <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
              </button>
            </ion-buttons>
        </ion-toolbar>
      </ion-header>
      
      
      <ion-content>
        <form [formGroup]="form" (submit)="novoPost()">
         
          <ion-list no-lines>
            <ion-item>
                <ion-label stacked>titulo:</ion-label>
                <ion-input formControlName="titulo"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label stacked>Comentário:</ion-label>
              <ion-textarea placeholder="Entre com conteudo de seu post." formControlName="conteudo" rows="5"></ion-textarea>
            </ion-item>
                     
            <ion-item>
              <button ion-button round padding type="button" color="topMural" (click)="takePic('camera')">Câmera</button>
              <button ion-button round padding type="button" color="topMural"(click)="takePic('galeria')">Galeria</button>
            </ion-item>
      
            <ion-item *ngIf="pathPreviewImage">
                <img src="{{pathPreviewImage}}" style="max-width:280px;height:auto;margin:4px auto" />
            </ion-item>
      
            <ion-item>
                 <button ion-button block padding type="submit" color="topMural" [disabled]="!form.valid">Criar post</button>
            </ion-item>
      
          </ion-list>
      
        </form>
      </ion-content>