<ion-header>     
    <ion-navbar color="topMural">
    <ion-title>Mural</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="bgApp">
        
        <ion-refresher (ionRefresh)="doRefresh($event)">
           <ion-refresher-content></ion-refresher-content>
        </ion-refresher>


        <ion-card *ngFor="let post of listaDePosts">
                
            <ion-item>
                <ion-avatar item-start *ngIf="post.userFoto">
                    <img src='{{urlImageServ}}usuario/{{post.userFoto}}'>
                </ion-avatar>
                <h2>{{post.userNome}}</h2>
                <p>{{post.strDataDeCadastro}}</p>
            </ion-item>
        
            <img src='{{urlImageServ}}post/{{post.img}}' *ngIf="post.img">
        
            <ion-card-content>
                <p>{{post.titulo}}</p>
                <p>{{post.conteudo}}</p>
            </ion-card-content>

            <ion-row>
                <ion-col>
                  <button ion-button icon-left clear small *ngIf="permitirDeletar(post.usuarioId)" (click)="excluirPost(post.id)">
                    <ion-icon name="trash"></ion-icon>
                    <div>Excluir</div>
                  </button>
                </ion-col>
                <ion-col>
                  <!-- <button ion-button icon-left clear small>
                    <ion-icon name="text"></ion-icon>
                    <div>4 Comments</div>
                  </button> -->
                </ion-col>
                <ion-col center text-center>
                  <!-- <ion-note>
                    11h ago
                  </ion-note> -->
                </ion-col>
            </ion-row>
        
        </ion-card>

        <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
             <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>

        <ion-fab right bottom *ngIf="permitePost">
            <button ion-fab color="topMural" (click)="openModalNovoPost()"><ion-icon name="add"></ion-icon></button>
            <!--<ion-fab-list side="left">
                <button ion-fab><ion-icon name="logo-facebook"></ion-icon></button>
                <button ion-fab><ion-icon name="logo-twitter"></ion-icon></button>
                <button ion-fab><ion-icon name="logo-vimeo"></ion-icon></button>
                <button ion-fab><ion-icon name="logo-googleplus"></ion-icon></button>
            </ion-fab-list>-->
        </ion-fab>
</ion-content>