page-agendaReserva {
  .bgApp{
    background-color: #eeeeee;
   }

   .text-on-bottom{
    height: 58px;
    margin: 0;
  }

  .text-on-bottom > .button-inner {
        flex-direction: column;
        text-transform:capitalize;
        font-size: 16.5px;
    }

  .btnBarraTop{
      float: left;
      margin: 4px;
  }

  .sizeFont{
    font-size: 11.5px;
    font-weight: normal !important;
  }

.sizeIcon{
  font-size: 30px
}
}