<ion-header>
  <ion-navbar color="topAgendaReserva">
    <ion-title>Agenda | Reserva</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal" (click)="openModalMinhasReservas()">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="bgApp">
  <ion-toolbar color="subAgendaReserva">
      <ion-row>
          <ion-col>
              <button ion-button color="light" clear block small  class="text-on-bottom">
                <ion-icon name="calendar" class="sizeIcon"></ion-icon>
                <label class="sizeFont">Agenda</label></button>       
          </ion-col>
          <ion-col>
          <button ion-button color="light" clear block small class="text-on-bottom" (click)="openModalAtividade()">
             <ion-icon name="bicycle" class="sizeIcon"></ion-icon>
             <label class="sizeFont">Atividades</label>
          </button>            
          </ion-col>
          <ion-col center text-center>
              <button ion-button color="light" clear block small class="text-on-bottom" (click)="openMenuSuspenso($event)">
                <ion-icon name="timer" class="sizeIcon"></ion-icon>
                <label class="sizeFont">Reservas</label>
              </button> 
          </ion-col>
        </ion-row>
  </ion-toolbar>
  
  <ion-toolbar color="subAgendaReserva">
      <ion-row>
          <ion-col width-100 style="text-align:center;color:#fff">Agenda do condomínio - {{viewTitle}}</ion-col>
      </ion-row>  
  </ion-toolbar>

  <ion-toolbar>
    <ion-row>
        <ion-col width-100 style="text-align:center">
            <ion-icon name="calendar" color="topAgendaReserva"></ion-icon> Toque nas datas marcadas e descubra as atividades agendadas para o dia.
        </ion-col>
    </ion-row>  
  </ion-toolbar>
       
   <ng-template #template let-showEventDetail="showEventDetail" let-selectedDate="selectedDate" let-noEventsLabel="noEventsLabel">
      <ion-list>
        <ion-item text-wrap *ngFor="let evento of arrEventosDoDia" color="bg">
          <span class="sizeFont">{{evento.title}}</span>
          <ion-icon name="calendar" item-end item-left large color="topAgendaReserva"></ion-icon>
        </ion-item>
    </ion-list> 
  </ng-template>

    <calendar [eventSource]="eventSource"
              [calendarMode]="calendar.mode"
              [currentDate]="calendar.currentDate"
              [monthviewEventDetailTemplate]="template"
              [dateFormatter]="calendar.dateFormatter"
              (onCurrentDateChanged)="onCurrentDateChanged($event)"
              (onEventSelected)="onEventSelected($event)"
              (onTitleChanged)="onViewTitleChanged($event)"
              (onTimeSelected)="onTimeSelected($event)"
              step="30"
              noEventsLabel="Sem eventos para este dia">
    </calendar>
  
</ion-content>