<ion-header>
  <ion-toolbar color="topAtividade">
    <ion-title>
        <ion-icon name="bicycle"></ion-icon> Atividades do Condomínio
    </ion-title>
    <ion-buttons start>
        <button ion-button (click)="dismiss()">
            <span ion-text color="light" showWhen="ios">Voltar</span>
            <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
        </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>     
    <ion-list>
        <ion-item text-wrap *ngFor="let ativ of listAtividades">
            <ion-avatar item-start>
                <ion-icon name="calendar" class="iconSize"></ion-icon>
            </ion-avatar>

            <h3>{{ativ.titulo}}</h3>
            <div>
                {{ativ.descricao}}<br /><br />
                <span *ngIf="ativ.responsavel">Responsável: {{ativ.responsavel}}</span>
                <span *ngIf="ativ.valor"><br />Valor: {{ativ.strValor}}</span>
                <span *ngIf="ativ.local"><br />Local: {{ativ.local}}</span>
            </div><br />
            <div>
                <span *ngIf="ativ.horaInicio">
                    {{ativ.horaInicio}} 
                </span> 
            </div>
            <div>Dias da semana:</div>
            <div *ngFor="let dia of ativ.diasDaSemana" class="fontSize">
                {{dia}} 
                <!-- <span *ngIf="ativ.horaInicio">
                    - {{ativ.horaInicio}} 
                </span> 
                <span *ngIf="ativ.horaFim">
                   as {{ativ.horaFim}}
                </span> -->
            </div>
            <!-- <ion-label class="fontSize"> 
                <ion-icon name="arrow-dropright"></ion-icon> {{ativ.titulo}}<br />
                {{ativ.descricao}}
                <ion-item text-wrap *ngFor="let dia of ativ.diasDaSemana" class="fontSize">
                     {{dia}} - {{ativ.horaInicio}}
                </ion-item>  
            </ion-label>-->
        </ion-item>  
    </ion-list>
</ion-content>