<ion-header>
    <ion-navbar color="topReservas">
      <ion-title>Calendário de Reservas</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="bgApp">

<ion-toolbar color="subReservas">
    <ion-row>
      <ion-col width-100 style="text-align:center;color:#fff">{{selectAreaComum.nome}} - {{viewTitle}}</ion-col>
    </ion-row>  
</ion-toolbar>

<ion-toolbar color="light">
  <ion-row>
    <ion-col width-100 style="text-align:center">{{selectAreaComum.descricao}}
      <div *ngIf="selectAreaComum.listaDeArquivos.length > 0"><br /><strong>Documentos:</strong></div>
       <span *ngFor="let doc of selectAreaComum.listaDeArquivos" (click)="abrirArquivo(doc.nome)" style="margin:0 4px">
          <span style="color:#0980F0"><ion-icon name="attach"></ion-icon> Arquivo</span>
       </span>
    </ion-col>
  </ion-row>  
</ion-toolbar>
       
   <ng-template #template let-showEventDetail="showEventDetail" let-selectedDate="selectedDate" let-noEventsLabel="noEventsLabel">
      <ion-list>
        <ion-item text-wrap *ngFor="let evento of arrEventosDoDia">
         <span class="sizeFont">{{evento.title}}</span>
          <ion-icon name="clock" item-end item-left large></ion-icon>
        </ion-item>
    </ion-list> 
  </ng-template>

    <calendar [eventSource]="eventSource"
              [calendarMode]="calendar.mode"
              [currentDate]="calendar.currentDate"
              [monthviewEventDetailTemplate]="template"
              [dateFormatter]="calendar.dateFormatter"
              (onCurrentDateChanged)="onCurrentDateChanged($event)"
              (onEventSelected)="onEventSelected($event)"
              (onTitleChanged)="onViewTitleChanged($event)"
              (onTimeSelected)="onTimeSelected($event)"
              step="30"
              noEventsLabel="Sem eventos para este dia">
    </calendar>

 <ion-fab right bottom *ngIf="reservaControler">
      <button ion-fab color="topReservas" (click)="openModalReserva()"><ion-icon name="add"></ion-icon></button>
 </ion-fab>

</ion-content>