page-minhasReservas{
    .aprovado{
        color: green;
    }
    .rejeitado{
        color: red;
    }
    .pendente{
        color: orange;
    }
    .fila{
        color: orange;
    }
    .fontSize{
        font-size: 12px;
    }
}