<ion-header>
  <ion-toolbar color="topReservas">
    <ion-title>
        <ion-icon name="clock"></ion-icon> Minhas Reservas
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="light" showWhen="ios">Voltar</span>
        <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>  
        <ion-toolbar color="subReservas">
                <ion-row>
                    <ion-col col-12 style="text-align:center;color:#fff">Deslize para a esquerda para remover a reserva se possível.</ion-col>
                </ion-row>  
            </ion-toolbar>   
     <ion-list>
         
          <ion-item-sliding *ngFor="let reserva of viewListMinhasReservas">
                <ion-item text-wrap>
                    <ion-label class="fontSize"> 
                        <strong>{{reserva.strAreaComum}}</strong><br />
                        {{reserva.descricao}}<br />
                        <span *ngIf="reserva.isFila" class="fila"><strong>Fila de espera</strong><br /></span> 
                        <span *ngIf="!reserva.isFila"><strong>Status: </strong><span class={{reserva.classeStatus}}> {{reserva.reservaStatus}}</span><br /></span>
                        Cadastrado em {{reserva.dtCadastro}}, para o dia {{reserva.dtRealizacao}}<br /> 
                        <strong>Horário: </strong> {{reserva.horaInicio}} - {{reserva.horaFim}}
                        <p *ngIf="reserva.justificativaReserva">
                            {{reserva.justificativaReserva}}
                        </p>
                    </ion-label>
                    <ion-icon name="ios-arrow-back-outline" item-end item-right small *ngIf="reserva.editavel && reserva.reservaStatus !='Não aprovado'"></ion-icon>
                </ion-item> 
                <ion-item-options side="right" *ngIf="reserva.editavel && reserva.reservaStatus !='Não aprovado'">
                    <button ion-button color="danger" (click)="excluirReserva(reserva.id)">
                        <ion-icon name="trash"></ion-icon>
                        Remover
                    </button>
                </ion-item-options>
        </ion-item-sliding> 
    </ion-list> 
</ion-content>