modal-novaReserva{

    .imgFundo{
        background-image: url(/assets/img/ilus_reserva_app.png);
        background-repeat: no-repeat;
        background-size: 80% auto;
        background-position: bottom
    }

    .txtColorItem{
        color:#0d6ff0;
    }

}