<ion-header>
  <ion-toolbar color="topReservas">
    <ion-title>
     <ion-icon name="clock"></ion-icon> Nova Reserva
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="light" showWhen="ios">Voltar</span>
        <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="imgFundo">

   <ion-toolbar color="secondary">
      <ion-row>
          <ion-col width-100 style="text-align:center;color:#fff">{{areaComumSelecionada.nome}}</ion-col>
      </ion-row>  
  </ion-toolbar>

   <form [formGroup]="form" (submit)="novaReserva()"> 
   
    <ion-list no-lines>
        <ion-item>
          <ion-label>Data de Realização:</ion-label>
           <ion-datetime class="txtColorItem" displayFormat="DD/MMM/YYYY" min={{initmoth}} max={{dataLimite}} [(ngModel)]="currentDate" formControlName="dataDeRealizacao" cancelText="Cancelar"  doneText="ok"></ion-datetime> 
        </ion-item>

        <ion-item>
          <ion-label stacked>Observação</ion-label>
          <ion-textarea placeholder="Entre com sua observação." formControlName="observacao" rows="3" maxlength="50"></ion-textarea>
        </ion-item>

        <ion-item>
            <ion-label stacked>{{labelPeriodos}}</ion-label>
        </ion-item>

        <ion-list radio-group>
          <ion-item *ngFor="let item of arrItemPeriodos; let i = index">
            <ion-label>De: {{item.horaInicio}} Até: {{item.horaFim}} - R${{item.valor}}</ion-label>
            <ion-radio [value]="item.id" (click)="selectPeriodoID(item.id, item.valor, item.horaInicio,item.horaFim)" [checked]="checkFirst(i)"></ion-radio>
          </ion-item>
        </ion-list>

        <ion-list *ngIf="!horariosEspecificos">
          <ion-item>
            <ion-label stacked>Hora início: </ion-label>
            <ion-datetime displayFormat="h:mm A"  formControlName="horaInicio" cancelText="Cancelar"  doneText="ok"></ion-datetime> 
          </ion-item>

          <ion-item>
            <ion-label stacked>Hora fim: </ion-label>
            <ion-datetime displayFormat="h:mm A" formControlName="horaFim" cancelText="Cancelar"  doneText="ok"></ion-datetime> 
          </ion-item>
        </ion-list>

        <ion-item>
           <button ion-button block padding type="submit" color="topReservas" [disabled]="!form.valid">Criar reserva</button>
        </ion-item>  

    </ion-list>
   </form> 
</ion-content>