<ion-header>
    <ion-navbar color="secondary">
      <ion-title><ion-icon name="person"></ion-icon> Meu perfil</ion-title>
      <!-- <ion-buttons end>
        <button ion-button icon-only color="royal" (click)="openModalMinhasReservas()">
          <ion-icon name="more"></ion-icon>
        </button>
      </ion-buttons> -->
    </ion-navbar>
  </ion-header>
  
  <ion-content>
    <form [formGroup]="form" (submit)="salvarPerfil()">
        
         <ion-list no-lines>
     
           <!-- <ion-item *ngIf="usuarioLogado.foto">
                <img src="{{pathPreviewImage}}{{usuarioLogado.foto}}" style="max-width:280px;height:auto;margin:4px auto" />
           </ion-item> -->
          
           <ion-item>
            <button ion-button round padding type="button" color="secondary" (click)="takePic('camera')">Câmera</button>
            <button ion-button round padding type="button" color="secondary"(click)="takePic('galeria')">Galeria</button>
          </ion-item>

           <ion-item>
             <ion-label stacked>Nome</ion-label>
             <ion-input placeholder="Nome de usuário" formControlName="nome" type="text"></ion-input>
           </ion-item>
           
           <ion-item>
            <ion-label stacked>Sobrenome</ion-label>
            <ion-input placeholder="Sobrenome" formControlName="sobrenome" type="text"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label stacked>Rg</ion-label>
            <ion-input placeholder="RG" formControlName="rg" type="text"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label stacked>CPF</ion-label>
            <ion-input placeholder="CPF" formControlName="cpf" type="text"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label stacked>Cel</ion-label>
            <ion-input placeholder="Celular" formControlName="cel" type="text"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label stacked>E-mail</ion-label>
            <ion-input placeholder="E-mail" formControlName="email" type="text"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label stacked>Senha</ion-label>
            <ion-input placeholder="Senha" formControlName="senha" type="password"></ion-input>
          </ion-item>
     
           <ion-item>
                <button ion-button block padding type="submit" color="secondary" [disabled]="!form.valid">Salvar alterações</button>
           </ion-item>
     
         </ion-list>
     
       </form>
  </ion-content>