<ion-header>
    <ion-toolbar color="topEnquete">
        <ion-title>
          Enquete - detalhes
        </ion-title>
        <ion-buttons start>
          <button ion-button (click)="dismiss()">
            <span ion-text color="light" showWhen="ios">Voltar</span>
            <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
         </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>             
    
    <ion-card>      
        <ion-item>             
            <p>
                <ion-icon name="calendar"></ion-icon> <strong>De:</strong> {{oEnquete.dataInicial}} <br />
                <ion-icon name="calendar"></ion-icon> <strong>Até:</strong> {{oEnquete.dataFinal}}
            </p>
        </ion-item>

        <ion-card-content>
            <p>{{oEnquete.descricao}}</p>
            <br />
            <!-- <ion-list>
                <ion-item text-wrap *ngFor="let alternativa of oEnquete.alternativasModel">
                    <span> {{alternativa.descricao}}</span> - <span> {{alternativa.qtdVotos}}</span>
                </ion-item>
            </ion-list> -->


            <canvas baseChart 
                [data]="doughnutChartData"
                [labels]="doughnutChartLabels"
                [chartType]="doughnutChartType"
                width="150"
                height="150"></canvas>

        </ion-card-content>

    </ion-card>

</ion-content>