
<!-- <ion-header>
    <ion-toolbar color="topEnquete">
        <ion-title>
          Enquete - Votar
        </ion-title>
        <ion-buttons start>
          <button ion-button (click)="dismiss()">
            <ion-icon name="close" color="light" showWhen="ios"></ion-icon>
            <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
         </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header> -->

<!-- <ion-content> -->
    
    <ion-card class="marginTOP">  
        <ion-card-title>  
            <ion-item>
                <ion-icon name="list"></ion-icon> Vote na enquete
                <span item-end (click)="dismiss()"><ion-icon name="close"></ion-icon></span>
            </ion-item>
        </ion-card-title>    
      
        <ion-card-content>
            
            <ion-list>
                <ion-list-header text-wrap>
                     {{oEnquete.descricao}}
                </ion-list-header>
                <ion-item text-wrap *ngFor="let alternativa of oEnquete.alternativasModel" (click)="votarEnquete(alternativa.id,alternativa.descricao)"> 
                      {{alternativa.descricao}}
                     <!--<span item-end> {{alternativa.qtdVotos}}</span> -->
                </ion-item>
            </ion-list>
               
        </ion-card-content>
    </ion-card>
<!-- </ion-content> -->