<ion-header>     
   <ion-navbar color="topEnquete">
     <ion-title>Enquetes</ion-title>
   </ion-navbar>
</ion-header>
  
<ion-content class="bgApp">          
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-card *ngFor="let enquete of listaDeEnquetes" (click)="detalhesEnquetes(enquete)">
       <ion-card-content>
            <span> {{enquete.descricao}}</span>
            <p> <ion-icon name="calendar"></ion-icon> <strong>Data início:</strong> {{enquete.dataInicial}} <br />
                <ion-icon name="calendar"></ion-icon> <strong>Data de Término:</strong> {{enquete.dataFinal}} <br /> 
                <strong>Nº Votos:</strong> {{enquete.qtdVotos}}</p>
       </ion-card-content>
    </ion-card>
</ion-content>