<ion-header>
    <ion-toolbar color="primary">
      <ion-title>
          <ion-icon name="chatbubbles"></ion-icon> Nova Conversa
      </ion-title>
      <ion-buttons start>
        <button ion-button (click)="dismiss()">
          <span ion-text color="light" showWhen="ios">Voltar</span>
          <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
        

    <ion-content>
        <ion-toolbar color="primary">
            <ion-searchbar (ionInput)="getItems($event)" placeholder="Buscar vizinho" showCancelButton="true" cancelButtonText="Cancelar"></ion-searchbar>
        </ion-toolbar>
        
        <ion-list>
            <ion-item text-wrap (click)="iniciarConversa(item.id)" *ngFor="let item of items">
                <p>
                      {{item.nome}} {{item.sobrenome}} 
                </p>
                <p class="txtMenor" *ngFor="let unid of item.lstApartamentos">Número: {{unid.numero}} / {{unid.grupoDescricao}}</p>
            </ion-item>
       </ion-list> 
    </ion-content>