<ion-header>
    
      <ion-navbar color="primary">
        <ion-title> Minhas conversas</ion-title>
      </ion-navbar>
    
    </ion-header>
    
    
    <ion-content>
        <ion-refresher (ionRefresh)="doRefresh($event)">
            <ion-refresher-content></ion-refresher-content>
         </ion-refresher>

         <ion-toolbar color="subChat">
            <ion-row>
                <ion-col col-12 style="text-align:center;color:#fff">Deslize para a esquerda para mais opções.</ion-col>
            </ion-row>  
        </ion-toolbar>

        <ion-list>
           
           <ion-item-sliding *ngFor="let conversa of listaDeConversas">

              <ion-item text-wrap>

                  <ion-avatar item-start>
                      <img src='{{urlImageServ}}usuario/{{conversa.foto}}' *ngIf="conversa.foto">
                      <img src="assets/img/no_image.png" *ngIf="!conversa.foto">
                  </ion-avatar>

                  <p (click)="openConversa(conversa)">
                      <span *ngIf="conversa.block"><ion-icon name="lock"></ion-icon></span>
                      {{conversa.strNome}} <br /> 
                      <span *ngIf="conversa.msgNova" class="nova">{{conversa.descricao}}</span> 
                      <span *ngIf="!conversa.msgNova">{{conversa.descricao}}</span>
                  </p>

                  <p class="txtMenor">{{conversa.strDataDaUltimaMsg}}</p>
                  <ion-icon name="ios-arrow-back-outline" item-end item-right small></ion-icon>
              </ion-item>

              <ion-item-options side="right">
                  <button ion-button color="danger" (click)="bloquearConversa(conversa.id)" *ngIf="!conversa.block">
                      <ion-icon name="lock"></ion-icon>
                      Bloquear
                  </button>
                  <button ion-button color="secondary" (click)="desbloquearConversa(conversa.id)" *ngIf="conversa.block">
                    <ion-icon name="unlock"></ion-icon>
                     Desbloquear
                </button>
                  <button ion-button color="remover" (click)="removerConversa(conversa.id)">
                       <ion-icon name="trash"></ion-icon>
                       Remover
                  </button>
              </ion-item-options>
            </ion-item-sliding> 
       </ion-list> 
       <ion-fab right bottom>
            <button ion-fab color="primary" (click)="addNovaConversa()"><ion-icon name="chatbubbles"></ion-icon></button>
            <!--<ion-fab-list side="left">
                <button ion-fab><ion-icon name="logo-facebook"></ion-icon></button>
                <button ion-fab><ion-icon name="logo-twitter"></ion-icon></button>
                <button ion-fab><ion-icon name="logo-vimeo"></ion-icon></button>
                <button ion-fab><ion-icon name="logo-googleplus"></ion-icon></button>
            </ion-fab-list>-->
        </ion-fab>
    </ion-content>