<ion-header>
    <ion-navbar color="primary">
        <ion-title>     
            <ion-item color="primary">
                <ion-avatar item-start>
                    <img src='{{urlImageServ}}usuario/{{conversaSelect.foto}}' *ngIf="conversaSelect.foto">
                    <img src="assets/img/Icon_CondominioApp.png" *ngIf="!conversaSelect.foto">
                </ion-avatar> 
                {{conversaSelect.strNome}} 
            </ion-item>
        </ion-title>
        <ion-buttons start>
        <button ion-button (click)="dismiss()">
            <span ion-text color="light" showWhen="ios">Voltar</span>
            <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
        </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
      
<ion-content class="bg">   
    <ion-refresher (ionRefresh)="doRefresh($event)">
       <ion-refresher-content></ion-refresher-content>
    </ion-refresher>  

    <ion-list no-lines class="transparente">
        <ion-item text-wrap *ngFor="let msg of listaDeMensagens" class="transparente">
            <span *ngIf="idUsuarioLogado == msg.usuarioId" class="bubble2"> 
                <span class="textMenor">{{msg.strDataDeCadastro}}</span><br />{{msg.descricao}}
            </span>
            <span *ngIf="idUsuarioLogado != msg.usuarioId" class="bubble"> 
                    <span class="textMenor">{{msg.strDataDeCadastro}}</span> <br /> {{msg.descricao}}
            </span>
        </ion-item>  
    </ion-list>
</ion-content>

<ion-footer class="cxInput">
    <form [formGroup]="form" method="post" (submit)="enviarMensagem()">
        <ion-textarea type="text" placeholder="Escreva sua mensagem" class="inputLocation" rows="2" formControlName="descricao"></ion-textarea>
        <ion-buttons end>
            <button ion-button icon-only clear [disabled]="!form.valid">
                <ion-icon name="send"></ion-icon>
            </button>
        </ion-buttons>
    </form>
</ion-footer>