mensagens-page{
    
    .bg{
        //background-image: url("../assets/img/BG.jpg");
        background-color: #eeeeee;
        //background-size: cover;
        //background-repeat: no-repeat;
    }
    
    .cxInput{
        background-color: #fff;
    }

    .transparente{
        background-color: transparent !important;
    }

    .item-md.item-block .item-inner{
        border-bottom: none !important;
    }

    .inputLocation{
        width: 80%;
        float: left;
    }

    .textMenor{
        font-size: 9px;
    }

    .bubble {
        position: relative;
        min-width: 50px;
        min-height: 20px;
        padding: 4px;
        background: #fff;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        box-shadow: 1px 1px 3px #888888;
        color: #333;
        display: -webkit-inline-box;
        font-size:15px;
        float:left;
        margin: 3px 15px;
    }
    
        .bubble:after {
            content: '';
            position: absolute;
            border-style: solid;
            border-width: 5px 10px 5px 0;
            border-color: transparent #fff;
            display: block;
            width: 0;
            z-index: 0;
            left: -10px;
            top: 7px;
        }
    
    
    .bubble2 {
        text-align: right;
        position: relative;
        min-width: 50px;
        min-height: 20px;
        padding: 4px;
        background: #387ef5;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        box-shadow: 1px 1px 3px #888888;
        color: #fff;
        display: -webkit-inline-box;
        font-size:15px;
        float:right;
        margin: 3px 15px;
    }
    
        .bubble2:after {
            content: '';
            position: absolute;
            border-style: solid;
            border-width: 5px 0 5px 10px;
            border-color: transparent #387ef5;
            display: block;
            width: 0;
            z-index: 0;
            right: -10px;
            top: 7px;
        }
}