﻿home-page {

  #valorTemp{
    margin-left: -10px;
  }

  .minHeight{
    min-height: 120px;
  }

  .posicaoBanner{
      z-index: 1 !important;
  }

  .conteudoDivHome{
    margin-top:25px;
  }

  .titulocardHome{
    font-size: 11.5px;
    color:#05741D;
    font-weight: bold;
  }

  .conteudocardHome{
    font-size: 11.5px !important;
    color:#05741D;
    font-weight: normal;
  }

  .menuHomePincipal {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 35px;
    color: #fff;
    z-index: 10
  }

  .divIconRefresh{
    position: absolute;
    width: 100%;
    z-index: 10;
    color: #fff;
    text-align: center;
  }
 
  .iconHome {
    //width: 55px;
    width : auto;
    max-height: 42px;
    //height: auto;
    margin: 10px;
  }
  
  .iconDestaqueHome {
    width: 65px;
    height: auto;
    margin-top: 10px;
  }

  .iconeBotao {
    width: 35px;
    height: auto;
    padding: 5px;
  }

  .txtHomeRotulo {
    font-size: 11.5px;
    line-height: 11px;
    //font-weight: bold;
    //color: #4149F9;
  }

  .txtHomeDestaque {
    font-size: 12px;
    line-height: 12px;
    color: #fff;
    font-weight: normal !important;
  }

  .alignBottons {
    text-align: center
  }

  .margin-topNegativo {
    margin-top: -137px;
  }

  .blockComOcorrencia {
    //background-color: #ff7fe5;
    //background-color: #ADDCF3;
    height: 95px;
    /*margin-top: -3px;*/
  }

  .blockAgReserva {
    //background-color: #4dc2ff;
    //background-color: #65C2EA;
    height: 95px;
    /*margin-top: -3px;*/
  }

  .tamImgTempo{
    margin-top: -8px;
  }

  .toolbar-md {
    background-color: #ff6a00 !important;
  }

  .imgUser {
    width: 85px;
    height: 85px;
    position: absolute;
    left: 50%;
    top: 18.5%;
    transform: translateX(-50%);
    /*border: solid 6px #fff;*/
    z-index: 10;
  }

  .iconeinterativo{
    margin-top: 42px;
    max-height: 55px;
    z-index: 10;
  }

  .iconAdministradora {
    max-width: 25%;
    max-height: 80px;
    position: absolute;
    right:8px;
    top: 15px;
    padding: 2px;
    z-index: 100;
  }

  .iconCateirinha{
    max-width: 26%;
    max-height: 80px;
    position: absolute;
    right: 4%;
    top: 14%;
    padding: 2px;
    z-index: 100;
    color: #fff;
    text-align: center;
    white-space: normal;
  }

  .iconCateirinha p{
    margin: 3px 0 0 0;
  }

  .iconCateirinha img{
    width: 40px;
  }

  .lcdDisplay {
    font-size: 32px;
    color: #fff;
    padding: 4px;
    height: 75px;
    width: 60px;
    text-align: center;
    margin-top: 50px;
  }

  .lcdStatus {
    font-size: 12px;
    color: #fff;
    padding: 2px;
    opacity: 0.4;
    border-top: solid #fff 1px;
    text-align: center;
  }

  .lcdPosDisplay {
    position: absolute;
    left: 10%;
    top: 0%;
    z-index: 1000 !important;
  }

  @media screen and (max-width: 2048px) and (min-width: 768px)   {

    // #valorTemp{
    //   margin-left: -10px;
    //   font-size: 18px;
    // }

    // .tamImgTempo{
    //   margin-top: -8px;
    // }
      .iconDestaqueHome {
          width: 85px;
          height: auto;
          margin-top: 0px;
        } 
    
        .iconHome {
          //width: 55px;
          width : auto;
          max-height: 80px;
          //height: auto;
          margin: 10px;
        }
    
        .margin-topNegativo {
          margin-top: -201px;
        }
    
        .conteudoDivHome{
          margin-top:80px;
        }
    
        .txtHomeDestaque {
          font-size: 18px;
          line-height: 18px;
          color: #fff;
          font-weight: normal !important;
        }
    
        .txtHomeRotulo {
          font-size: 14.5px;
          line-height: 14px;
          //font-weight: bold;
          //color: #4149F9;
        }
      }
}

.toast-success {
  > div{
       background-color:#eeeeee!important;
   }
   >div .toast-message{
    color: #333 !important;
    font-size: 12px;
   }
   >div .toast-button{
    color: #333 !important;
   }
}