﻿<ion-header>     
 
</ion-header>

<ion-content no-padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content
          pullingText="Solte para atualizar"
          refreshingText="Atualizando...">
      </ion-refresher-content>
  </ion-refresher>

  <ion-icon name="menu" menuToggle class="menuHomePincipal"></ion-icon>

  <div class="divIconRefresh">
    <ion-icon name="ios-arrow-down-outline"></ion-icon>
  </div>

  <img src="{{logoMarcaHome}}" class="iconAdministradora" id="imgLogoAdministradora" *ngIf="logoMarcaHome" />
  <div class="iconCateirinha" *ngIf="isCarteirinha">
      <img src="assets/img/icones/branco/carteirinhaBranco.png" (click)="getCodeDeBarra()" />
      <p class="txtHomeRotulo alignBottons">Carteirinha Virtual</p>
  </div>
  
  <div class="lcdPosDisplay">
    <div class="lcdDisplay"> 
        <span id="valorTemp">{{valorTemp}}</span><br />
        <img src="{{imgTemp}}" id="imgTemp" class="tamImgTempo" />
    </div>
  </div>

   <ion-grid no-padding>
    <ion-row>
      <ion-col no-padding>  
        <img src="{{urlBanner}}" class="posicaoBanner"/>
      </ion-col>
    </ion-row>
         
    <ion-row class="margin-topNegativo">
      <ion-col class="blockComOcorrencia alignBottons">
        <img src="assets/img/icones/iconComunicadoOcorrenia.png" class="iconDestaqueHome" (click)="getPageComunicado()" />
        <div class="txtHomeDestaque"> Comunicados e Ocorrências</div>
      </ion-col>
      <ion-col class="blockComOcorrencia alignBottons">
          <span id="iconePrincipal">
              <img src='{{interativoImg}}' class="iconeinterativo" (click)="redirecionaLink()" />
           </span>
        </ion-col>
      <ion-col  class="blockAgReserva alignBottons">
        <img src="assets/img/icones/iconAgReserva.png" class="iconDestaqueHome" (click)="getAgendaReserva()" />
        <div class="txtHomeDestaque"> Agenda e Reservas</div>
      </ion-col>
    </ion-row>

    <div class="conteudoDivHome">
        <ion-row>
            <ion-col class="alignBottons" *ngIf="portariaControle"> 
              <img src="assets/img/icones/iconAutVisita.png" class="iconHome" (click)="getPortaria()"/> 
              <div class="txtHomeRotulo">Portaria</div>
            </ion-col>
            <ion-col class="alignBottons" *ngIf="!portariaControle"> 
              <img src="assets/img/icones/iconPerfil.png" class="iconHome" (click)="meuPerfil()"/> 
              <div class="txtHomeRotulo">Meu perfil</div>
            </ion-col>
            <ion-col class="alignBottons" *ngIf="classificadoControle">
              <img src="assets/img/icones/iconClassificado.png" class="iconHome" (click)="getClassificado()" /> 
              <div  class="txtHomeRotulo">Classificados</div>
            </ion-col>
            <ion-col class="alignBottons" *ngIf="!classificadoControle">
                <img src="assets/img/icones/iconEmergencia.png" class="iconHome" (click)="criarOcorrenciaEmergencia()" />  
                <div class="txtHomeRotulo">Emergência</div>
            </ion-col>
            <ion-col class="alignBottons">
              <img src="assets/img/icones/iconMural.png" class="iconHome" (click)="getMural()"/> 
              <div  class="txtHomeRotulo">Mural</div>
            </ion-col>
          </ion-row>
      
          <ion-row>
            
            <ion-col class="alignBottons" *ngIf="vagasControle" >
              <img src="assets/img/icones/iconVagas.png" class="iconHome" (click)="getVagas()" />  
              <div class="txtHomeRotulo">Vagas</div>
            </ion-col>
            
            <ion-col class="alignBottons" *ngIf="!vagasControle" >
                <img src="assets/img/icones/iconVagas.png" class="iconHome" (click)="getVeiculos()" />  
                <div class="txtHomeRotulo">Veículos</div>
            </ion-col>

            <ion-col class="alignBottons" *ngIf="correioControle"> 
              <img src="assets/img/icones/iconCorreio.png" class="iconHome" (click)="getCorrespondencias()"/> 
              <div class="txtHomeRotulo">Correspondência</div>
            </ion-col>

            <ion-col class="alignBottons" *ngIf="!correioControle"> 
              <img src="assets/img/icones/iconAtividades.png" class="iconHome" (click)="getAtividade()"/> 
              <div class="txtHomeRotulo">Atividades</div>
            </ion-col>

            <ion-col class="alignBottons">
              <img src="assets/img/icones/iconEnquete.png" class="iconHome" (click)="getEnquetes()" /> 
              <div class="txtHomeRotulo">Enquetes</div>
            </ion-col>
          </ion-row>
      
          <ion-row>
              <ion-col class="alignBottons" *ngIf="chatControle">
                <img src="assets/img/icones/iconChat.png" class="iconHome" (click)="getChat()"/>  
                <div class="txtHomeRotulo">Chat</div>
              </ion-col>
              <ion-col class="alignBottons" *ngIf="!chatControle">
                <img src="assets/img/icones/iconUnidades.png" class="iconHome" (click)="getUnidades()"/>  
                <div class="txtHomeRotulo">Unidades</div>
              </ion-col>
              <ion-col class="alignBottons"> 
                <img src="assets/img/icones/iconServicos.png" class="iconHome" (click)="getProdutos()"/> 
                <div class="txtHomeRotulo">Produtos e Serviços</div>
              </ion-col>
              <ion-col class="alignBottons">
                <img src="assets/img/icones/iconAdmin.png" class="iconHome" (click)="getRedirectAdministradora()" /> 
                <div class="txtHomeRotulo">Administradora</div>
              </ion-col>
          </ion-row>
    </div>
  </ion-grid>
</ion-content>