<ion-header>
    <ion-navbar color="topClassificado">
        <ion-title>Classificados</ion-title>
    </ion-navbar>
</ion-header>
<ion-tabs>
    <ion-tab tabTitle="Classificados" tabIcon="megaphone" [root]="classificadoTab"></ion-tab>
    <ion-tab tabTitle="Meu Anúncios" tabIcon="menu" [root]="meusAnunciosTab"></ion-tab>
</ion-tabs>