<ion-header>
        <ion-toolbar color="topClassificado">
          <ion-title>
            Editar anúncio - Classificado
          </ion-title>
          <ion-buttons start>
            <button ion-button (click)="dismiss()">
              <span ion-text color="light" showWhen="ios">Voltar</span>
              <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
            </button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
            
      <ion-content>

        <ion-toolbar *ngIf="oClassificado.foto">
            <img src='{{urlImageServ}}classificado/{{oClassificado.foto}}' class="thumb">
        </ion-toolbar>

        <form [formGroup]="form" (submit)="editAnuncio()">
         
          <ion-list no-lines>
            <ion-item>
                <ion-label stacked>Título:</ion-label>
                <ion-input formControlName="chamada"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label stacked>Descrição:</ion-label>
              <ion-textarea placeholder="Conteúdo do anúncio" formControlName="descricao" rows="5"></ion-textarea>
            </ion-item>
               
            <ion-item>
                <ion-label stacked>Preço:</ion-label>
                <ion-input formControlName="str2Preco"></ion-input>
            </ion-item>

            <ion-item>
              <button ion-button round padding type="button" color="topClassificado" (click)="takePic('camera')">Câmera</button>
              <button ion-button round padding type="button" color="topClassificado"(click)="takePic('galeria')">Galeria</button>
            </ion-item>
      
            <ion-item *ngIf="pathPreviewImage">
                <img src="{{pathPreviewImage}}" style="max-width:280px;height:auto;margin:4px auto" />
            </ion-item>
            
      
            <ion-item>
                 <button ion-button block padding type="submit" color="topClassificado" [disabled]="!form.valid">Salvar alterações</button>
            </ion-item>
      
          </ion-list>
      
        </form>
      </ion-content>