<ion-header>     
        <ion-navbar color="topClassificado">
        <ion-title>Classificados</ion-title>
        </ion-navbar>
    </ion-header>
    
    <ion-content class="bgApp">
            
            <ion-refresher (ionRefresh)="doRefresh($event)">
               <ion-refresher-content></ion-refresher-content>
            </ion-refresher> 
        
            <ion-card *ngFor="let classificado of listaDeAnuncios">
                    
                <ion-item>
                    <h2>{{classificado.nomeDoUsuario}}</h2>
                    <p *ngIf="classificado.chamada">{{classificado.chamada}}</p>
                </ion-item>

                <img src='{{urlImageServ}}classificado/{{classificado.foto}}' *ngIf="classificado.foto">
            
                <ion-card-content>
                <p>{{classificado.descricao}}</p>
                </ion-card-content>
    
                <ion-row>
                    <ion-col>
                      <button ion-button icon-left clear small (click)="excluirAnuncio(classificado.id)">
                        <ion-icon name="trash"></ion-icon>
                        <div>Excluir</div>
                      </button>
                    </ion-col>
                    <ion-col>
                       <button ion-button icon-left clear small (click)="editClassificado(classificado)">
                        <ion-icon name="create"></ion-icon>
                        <div>Editar</div>
                      </button> 
                    </ion-col>
                    <ion-col center text-center>
                      <ion-note color="topClassificado">
                       {{classificado.strPreco}}
                      </ion-note>
                    </ion-col>
                </ion-row>
           
            </ion-card>
    
            <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
                 <ion-infinite-scroll-content></ion-infinite-scroll-content>
            </ion-infinite-scroll> 
    
            <ion-fab right bottom>
                <button ion-fab color="topClassificado" (click)="openModalNovoClassificado()"><ion-icon name="add"></ion-icon></button>
                <!--<ion-fab-list side="left">
                    <button ion-fab><ion-icon name="logo-facebook"></ion-icon></button>
                    <button ion-fab><ion-icon name="logo-twitter"></ion-icon></button>
                    <button ion-fab><ion-icon name="logo-vimeo"></ion-icon></button>
                    <button ion-fab><ion-icon name="logo-googleplus"></ion-icon></button>
                </ion-fab-list>-->
            </ion-fab>
    </ion-content>