<ion-header>
        <ion-toolbar color="topPortaria">
            <ion-title>
                <ion-icon name="people"></ion-icon> Lista de convidados
            </ion-title>
            <ion-buttons start>
                <button ion-button (click)="dismiss()">
                    <span ion-text color="light" showWhen="ios">Voltar</span>
                    <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
                </button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>
        
        
<ion-content>

    <form [formGroup]="form" (submit)="addVisitante()">
        <ion-list>
            <ion-item>
                <ion-label>Tipo de visitas: </ion-label>
                <ion-select formControlName="tpVisita" interface="popover" cancelText="Cancelar">
                    <ion-option  *ngFor="let tp of tiposDeVisitas" [value]="tp.id">{{tp.descricao}}</ion-option>
                </ion-select>
            </ion-item>
           
            <ion-item>
                <ion-label text-wrap >Nome do convidado</ion-label>
                <ion-input formControlName="nomeVisitante"></ion-input>
            </ion-item>
            <ion-item>
                <button ion-button block padding type="submit" color="topPortaria" [disabled]="!form.valid">Add a Lista</button>
            </ion-item>  
            <ion-item-divider color="light">Lista de convidados:</ion-item-divider>
           
            <ion-item text-wrap *ngFor="let item of listaDeVisitantes" (click)="remove(item)">
              <ion-icon name="person"></ion-icon>   {{item}}  
              <ion-icon name="trash" item-end item-right small></ion-icon>
            </ion-item>
        </ion-list>
    </form>

</ion-content>
<ion-footer>
    <button ion-button block padding (click)="criarMultiplosVisitantes()" color="topPortaria" [disabled]="!listaDeVisitantes.length > 0">Salvar multiplas visitas</button>
</ion-footer>