<ion-header>
    <ion-toolbar color="topPortaria">
        <ion-title>
            <ion-icon name="people"></ion-icon> Meus visitantes
        </ion-title>
        <ion-buttons start>
        <button ion-button (click)="dismiss()">
            <span ion-text color="light" showWhen="ios">Voltar</span>
            <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
        </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
     
        
<ion-content>

    <ion-refresher (ionRefresh)="doRefresh($event)">
       <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-toolbar color="topPortaria">
        <ion-row>
            <ion-col col-12 style="text-align:center;color:#fff"> Deslize para a esquerda e obtenha mais opções.</ion-col>
        </ion-row>  
    </ion-toolbar>
    <ion-toolbar color="topPortaria">
          <ion-searchbar (ionInput)="getItems($event)" placeholder="Buscar visitante" showCancelButton="true" cancelButtonText="Cancelar"></ion-searchbar>
    </ion-toolbar>
    <ion-list>
            <ion-item-sliding *ngFor="let visitante of items">
                <ion-item text-wrap>
                    <ion-avatar item-start>
                        <img src='{{urlImageServ}}usuario/{{visitante.foto}}' *ngIf="visitante.foto">
                        <img src="assets/img/no_image.png" *ngIf="!visitante.foto">
                    </ion-avatar>
                    <ion-label> 
                    {{visitante.nome}}<br />
                    <span *ngIf="visitante.email"><ion-icon name="mail" small></ion-icon> {{visitante.email}}<br /> </span>
                    <span *ngIf="visitante.nomeEmpresa">Empresa: {{visitante.nomeEmpresa}}<br /></span>
                        {{visitante.descricao}}<br *ngIf="visitante.descricao"/>
                        <span *ngIf="visitante.permanente" class="permanente"><strong>Visita permanente</strong><br /></span> 
                        <span *ngIf="visitante.placaCarro">Placa: {{visitante.placaCarro}}</span><br />
                        <span *ngIf="visitante.modeloCarro">Modelo do veículo: {{visitante.modeloCarro}}</span>

                    </ion-label>
                    <ion-icon name="ios-arrow-back-outline" item-end item-right small></ion-icon>
                </ion-item> 
                <ion-item-options side="right">
                    <button ion-button color="secondary" (click)="openEdit(visitante)">
                     <ion-icon name="create"></ion-icon>
                        Editar
                     </button>
                    <button ion-button color="primary" (click)="openModalAutorizacao(visitante)">
                        <ion-icon name="add"></ion-icon>
                         Visita
                    </button>
                    <button ion-button color="danger" (click)="confirmDeleteVisitante(visitante)">
                        <ion-icon name="trash"></ion-icon>
                         Apagar
                    </button>
                </ion-item-options>
        </ion-item-sliding> 
    </ion-list> 
    
    <ion-fab right bottom>
        <button ion-fab color="topPortaria"><ion-icon name="add"></ion-icon></button>
            <ion-fab-list side="left">
            <button ion-fab (click)="openNovoVisitante()"><ion-icon name="person"></ion-icon></button>
            <button ion-fab (click)="openListaDeConvidados()"><ion-icon name="people"></ion-icon></button>
        </ion-fab-list>
    </ion-fab>
</ion-content>