<ion-header>
    <ion-toolbar color="topPortaria">
        <ion-title>
        <ion-icon name="globe"></ion-icon> Editar Temporada
        </ion-title>
        <ion-buttons start>
        <button ion-button (click)="dismiss()">
            <span ion-text color="light" showWhen="ios">Voltar</span>
            <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
        </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <form [formGroup]="form" (submit)="editTemporada()">                
        <ion-list no-lines>                   
            <ion-item-divider color="light">Período</ion-item-divider>

            <ion-item>
                <ion-label>Data de entrada:</ion-label>
                <ion-datetime displayFormat="DD/MMM/YYYY" formControlName="dataDeEntrada" cancelText="Cancelar"  doneText="ok"></ion-datetime> 
            </ion-item>

            <ion-item>
                <ion-label>Data de saída:</ion-label>
                <ion-datetime displayFormat="DD/MMM/YYYY"  formControlName="dataDeSaida" cancelText="Cancelar"  doneText="ok"></ion-datetime> 
            </ion-item>

            <ion-item>
                <ion-label stacked>Descrição</ion-label>
                <ion-textarea placeholder="Descreva uma observação sobre esta temporada" formControlName="descricao" rows="5"></ion-textarea>
            </ion-item>
    
            <ion-item>
                <button ion-button block padding type="submit" color="topPortaria" [disabled]="!form.valid">Salvar alterações</button>
            </ion-item>  
        </ion-list>         
    </form> 

</ion-content>