<ion-header>
        <ion-toolbar color="topPortaria">
          <ion-title>
              <ion-icon name="person"></ion-icon> Autorizar visita
          </ion-title>
          <ion-buttons start>
            <button ion-button (click)="dismiss()">
              <span ion-text color="light" showWhen="ios">Voltar</span>
              <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
            </button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

<ion-content>
<ion-card>  
    
    <img src='{{urlImageServ}}usuario/{{visitante.foto}}' *ngIf="visitante.foto">

    <ion-card-content>
        <p>{{visitante.nome}}</p>
    </ion-card-content>

    <form [formGroup]="form" (submit)="adicionarVisita()"> 
            
             <ion-list no-lines>    
                <ion-item *ngIf="!ctVisitaTemp" color="topPortaria">
                   <ion-label class="txtLabel">Visita para: </ion-label>
                   <ion-datetime displayFormat="DD/MMM/YYYY" min={{initmoth}} [(ngModel)]="currentDateCadastro"  formControlName="dataDeCadastro" cancelText="Cancelar"  doneText="ok"></ion-datetime> 
                </ion-item>

                <ion-item>
                    <ion-label>Por período</ion-label>
                    <ion-checkbox [(ngModel)]="ctVisitaTemp" formControlName="ctVisitaTemporaria"></ion-checkbox>
                </ion-item>

                <ion-item-divider color="light" *ngIf="ctVisitaTemporaria">Autorização temporária</ion-item-divider>
                <ion-item *ngIf="ctVisitaTemp">
                     <ion-label>De: </ion-label>
                     <ion-datetime displayFormat="DD/MMM/YYYY" max={{dataLimite}} min={{initmoth}} [(ngModel)]="currentDateEntrada"  formControlName="dataInicioPermanente" cancelText="Cancelar"  doneText="ok"></ion-datetime> 
                </ion-item>

                <ion-item *ngIf="ctVisitaTemp">
                    <ion-label>Até: </ion-label>
                    <ion-datetime displayFormat="DD/MMM/YYYY" max={{dataLimite}} min={{initmoth}} [(ngModel)]="currentDateSaida"  formControlName="dataFimPermanente" cancelText="Cancelar"  doneText="ok"></ion-datetime> 
                </ion-item>

                <ion-item *ngIf="!ctVisitaTemp">
                   <ion-label>Fixo </ion-label>
                   <ion-checkbox  formControlName="visitaPermanente" (ionChange)="fixoChange($event)"></ion-checkbox>
                </ion-item>

                <ion-item >
                    <ion-label>Visitante possui veículo </ion-label>
                    <ion-checkbox  formControlName="visitaCarro"></ion-checkbox>
                </ion-item>
              
                <ion-item>
                    <ion-label stacked>Descrição</ion-label>
                    <ion-textarea placeholder="Descreva uma observação sobre esta visita" formControlName="descricao" rows="5"></ion-textarea>
                </ion-item>
         
                 <ion-item>
                    <button ion-button block padding type="submit" color="topPortaria" [disabled]="!form.valid">Criar visita</button>
                 </ion-item>  
             </ion-list>
         
            </form> 

</ion-card>
</ion-content>