<ion-header>
        <ion-toolbar color="topPortaria">
            <ion-title>
            <ion-icon name="people"></ion-icon> Editar visitante
            </ion-title>
            <ion-buttons start>
            <button ion-button (click)="dismiss()">
                <span ion-text color="light" showWhen="ios">Voltar</span>
                <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
            </button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>
    
    <ion-content>
    
        <form [formGroup]="form" (submit)="salvarAlteracaoVisitante()"> 
                    
            <ion-list no-lines>
               
            <ion-item>
                <ion-label>Tipo de visitante: </ion-label>
                <ion-select formControlName="tpVisita" interface="popover" cancelText="Cancelar" [(ngModel)]="ctTipoDeVisita">
                <ion-option  *ngFor="let tp of tiposDeVisitas" [value]="tp.id">{{tp.descricao}}</ion-option>
                </ion-select>
            </ion-item>

            <ion-item *ngIf="ctTipoDeVisita == 1">
                <ion-label>Nome da empresa: </ion-label>
                <ion-input type="text" formControlName="nomeEmpresa"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label>Nome: </ion-label>
                <ion-input type="text" formControlName="nome"></ion-input>
            </ion-item>
            
            <ion-item>
                <ion-label>E-mail: </ion-label>
                <ion-input type="text" formControlName="email"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label>RG: </ion-label>
                <ion-input type="text" formControlName="rg"></ion-input>
            </ion-item>

             <ion-item>
                <button ion-button block padding type="submit" color="topPortaria" [disabled]="!form.valid">Salvar alterações</button>
             </ion-item>  
            </ion-list>     
        </form> 
    </ion-content>