<ion-header>
        <ion-toolbar color="topPortaria">
          <ion-title>
              <ion-icon name="person"></ion-icon> Autorizar multiplas visitas
          </ion-title>
          <ion-buttons start>
            <button ion-button (click)="dismiss()">
              <span ion-text color="light" showWhen="ios">Voltar</span>
              <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
            </button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

<ion-content>
 
    <form [formGroup]="form" (submit)="adicionarMultVisitas()"> 
            
             <ion-list no-lines>    
                <ion-item *ngIf="!ctVisitaTemp">
                   <ion-label>Agendar a visita para: </ion-label>
                   <ion-datetime displayFormat="DD/MMM/YYYY" min={{initmoth}} [(ngModel)]="currentDateCadastro"  formControlName="dataDeCadastro" cancelText="Cancelar"  doneText="ok"></ion-datetime> 
                </ion-item>

                <!-- <ion-item>
                    <ion-label>Visita temporária</ion-label>
                    <ion-checkbox [(ngModel)]="ctVisitaTemp" formControlName="ctVisitaTemporaria"></ion-checkbox>
                </ion-item>

                <ion-item-divider color="light" *ngIf="ctVisitaTemporaria">Autorização temporária</ion-item-divider>
                <ion-item *ngIf="ctVisitaTemp">
                     <ion-label>De: </ion-label>
                     <ion-datetime displayFormat="DD/MMM/YYYY" min={{initmoth}} [(ngModel)]="currentDateEntrada"  formControlName="dataInicioPermanente" cancelText="Cancelar"  doneText="ok"></ion-datetime> 
                </ion-item>

                <ion-item *ngIf="ctVisitaTemp">
                    <ion-label>Até: </ion-label>
                    <ion-datetime displayFormat="DD/MMM/YYYY" min={{initmoth}} [(ngModel)]="currentDateSaida"  formControlName="dataFimPermanente" cancelText="Cancelar"  doneText="ok"></ion-datetime> 
                </ion-item>

                <ion-item *ngIf="!ctVisitaTemp">
                   <ion-label>Permanente </ion-label>
                   <ion-checkbox  formControlName="visitaPermanente"></ion-checkbox>
                </ion-item>

                <ion-item >
                    <ion-label>Visitante possui veículo </ion-label>
                    <ion-checkbox  formControlName="visitaCarro"></ion-checkbox>
                </ion-item>-->
              
                <ion-item>
                    <ion-label stacked>Descrição</ion-label>
                    <ion-textarea placeholder="Descreva uma observação sobre esta visita" formControlName="descricao" rows="5"></ion-textarea>
                </ion-item> 
         
                 <ion-item>
                    <button ion-button block padding type="submit" color="topPortaria" [disabled]="!form.valid">Criar visitas</button>
                 </ion-item>  
             </ion-list>
         
            </form> 

</ion-content>