<ion-header>
    <ion-toolbar color="topPortaria">
        <ion-title>
        <ion-icon name="globe"></ion-icon> Nova Temporada
        </ion-title>
        <ion-buttons start>
        <button ion-button (click)="dismiss()">
            <span ion-text color="light" showWhen="ios">Voltar</span>
            <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
        </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="bgApp">

        <form [formGroup]="form" (submit)="novaTemporada()"> 
                
                 <ion-list>
                        <ion-item-divider color="light">Responsável pela temporada</ion-item-divider>
                    <ion-item>
                        <ion-label>Nome do Responsável</ion-label>
                        <ion-input type="text" formControlName="nomeResponsavel"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label>RG do Responsável</ion-label>
                        <ion-input type="text" formControlName="rgResponsavel"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label>Passaporte: </ion-label>
                        <ion-input type="text" formControlName="passaporteResponsavel"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label>Origem:</ion-label>
                        <ion-select formControlName="origemResponsavel" interface="popover" cancelText="Cancelar">
                        <ion-option  *ngFor="let pais of paisList" [value]="pais.nome" (ionSelect)="paisSelect(pais)">{{pais.nome}}</ion-option>
                        </ion-select>
                     </ion-item>
             
                     <ion-item>
                       <ion-label>Hora de chegada:</ion-label>
                       <ion-datetime displayFormat="h:mm A"  formControlName="horaChegada" cancelText="Cancelar"  doneText="ok"></ion-datetime> 
                     </ion-item>

                     <ion-item>
                        <ion-label>Número de Adultos: </ion-label>
                        <ion-input type="text" formControlName="nAdults"></ion-input>
                     </ion-item>
                  
                     <ion-item>
                        <ion-label>Número de Crianças: </ion-label>
                        <ion-input type="text" formControlName="nCriancas"></ion-input>
                     </ion-item>
                     <ion-item-divider color="light">Dados do Veículo</ion-item-divider>
                     <ion-item>
                        <ion-label>Placa:</ion-label>
                        <ion-input type="text" formControlName="placa"></ion-input>
                    </ion-item>

                     <ion-item>
                        <ion-label>Cor:</ion-label>
                        <ion-input type="text" formControlName="cor"></ion-input>
                     </ion-item>

                     <ion-item>
                        <ion-label>Modelo:</ion-label>
                        <ion-input type="text" formControlName="modelo"></ion-input>
                     </ion-item>
                     <ion-item-divider color="light">Período</ion-item-divider>

                     <ion-item>
                        <ion-label>Data de entrada:</ion-label>
                        <ion-datetime displayFormat="DD/MMM/YYYY" min="{{dataMinima}}" max="{{dataLimite}}" [(ngModel)]="currentDateEntrada"  formControlName="dataDeEntrada" cancelText="Cancelar"  doneText="ok"></ion-datetime> 
                    </ion-item>

                    <ion-item>
                        <ion-label>Data de saída:</ion-label>
                        <ion-datetime displayFormat="DD/MMM/YYYY" min="{{dataMinima}}" max="{{dataLimite}}" [(ngModel)]="currentDateSaida"  formControlName="dataDeSaida" cancelText="Cancelar"  doneText="ok"></ion-datetime> 
                    </ion-item>

                    <ion-item>
                       <ion-label stacked>Descrição</ion-label>
                       <ion-textarea placeholder="Descreva uma observação sobre esta temporada" formControlName="descricao" rows="5"></ion-textarea>
                    </ion-item>

                    <ion-item-divider color="light"></ion-item-divider>

                     <ion-item class="bgApp">
                        <button ion-button block padding type="submit" color="topPortaria" [disabled]="!form.valid">Criar Temporada</button>
                     </ion-item>  
                 </ion-list>            
            </form> 
</ion-content>