<ion-card class="marginTOP">  
    <ion-card-title>
        <ion-title>
            <ion-icon name="person"></ion-icon> Autorizar entrada
        </ion-title>
    </ion-card-title>

    <img src='{{urlImageServ}}usuario/{{visitante.foto}}' *ngIf="visitante.foto">

    <ion-card-content>
        <p>{{visitante.nome}}</p>
    </ion-card-content>

    <ion-row>
        <ion-col center text-center>
            <button ion-button icon-left clear small (click)="provarVisita(visitante.id)">
              <ion-icon name="md-checkmark"></ion-icon>
              <div>Autorizar</div>
            </button>
        </ion-col>
        <ion-col>
           
        </ion-col>
        <ion-col center text-center>
            <button ion-button icon-left clear small (click)="rejeitarVisita(visitante.id)">
                <ion-icon name="md-exit"></ion-icon>
                <div>Não autorizar</div>
            </button>
        </ion-col>
    </ion-row>

</ion-card> 