<ion-header>

  <ion-navbar color="topPortaria">
    <ion-title>Portaria</ion-title>
  </ion-navbar>

</ion-header>

<ion-tabs>
  <ion-tab tabTitle="Visitas" tabIcon="people" [root]="visitasTab"></ion-tab>
  <ion-tab tabTitle="Temporada" tabIcon="globe" [root]="temporadasTab"></ion-tab>
  <ion-tab tabTitle="Recados" tabIcon="mail" [root]="recadosTab"></ion-tab> 
</ion-tabs>