tabRecados-page{
    .inputLocation{
        width: 80%;
        float: left;
    }
    .setEspaco{
        padding: 4px;
    }
    .dataMsg{
        font-size: 9px;
    }
    
    .bubble {
        position: relative;
        min-width: 50px;
        min-height: 20px;
        padding: 4px;
        background: #ededed;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        box-shadow: 1px 1px 3px #888888;
        display: -webkit-inline-box;
        font-size:15px;
        float:left;
        margin: 3px 15px;
    }
    
        .bubble:after {
            content: '';
            position: absolute;
            border-style: solid;
            border-width: 5px 10px 5px 0;
            border-color: transparent #ededed;
            display: block;
            width: 0;
            z-index: 0;
            left: -10px;
            top: 7px;
        }
    
    
    .bubble2 {
        position: relative;
        min-width: 50px;
        min-height: 20px;
        text-align: right;
        padding: 4px;
        background: #1EB399;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        box-shadow: 1px 1px 3px #888888;
        color: #fff;
        display: -webkit-inline-box;
        font-size:15px;
        float:right;
        margin: 3px 15px;
    }
    
        .bubble2:after {
            content: '';
            position: absolute;
            border-style: solid;
            border-width: 5px 0 5px 10px;
            border-color: transparent #1EB399;
            display: block;
            width: 0;
            z-index: 0;
            right: -10px;
            top: 7px;
        }
}