<ion-header>
    
      <ion-navbar color="primary">
        <ion-title>Recado</ion-title>
      </ion-navbar>
    
    </ion-header>
    
    
    <ion-content>
      <ion-list no-lines class="setEspaco">
        <ion-item text-wrap *ngFor="let recado of listaDeRecados">
          <span class="bubble">
            <span class="dataMsg">{{recado.strDataDeCadastro}}</span> <br /> {{recado.descricao}}
          </span>

          <ion-list no-lines class="setEspaco" *ngIf="recado.listaDeRespostas">
            <ion-item text-wrap *ngFor="let resposta of recado.listaDeRespostas">
                  <label class="bubble2" *ngFor="let resposta of recado.listaDeRespostas"> 
                      <span class="dataMsg"> {{recado.strDataDeCadastro}}</span> <br />{{resposta.descricao}}
                  </label>
            </ion-item>
          </ion-list>


          <!-- <span *ngIf="idUsuarioLogado == msg.usuarioId" class="bubble2"> 
            <span class="textMenor">{{msg.strDataDeCadastro}}</span><br />{{msg.descricao}}
        </span>
        <span *ngIf="idUsuarioLogado != msg.usuarioId" class="bubble"> 
                <span class="textMenor">{{msg.strDataDeCadastro}}</span> <br /> {{msg.descricao}}
        </span> -->


        </ion-item>
      </ion-list>
     

    </ion-content>
    <ion-footer>
      <form [formGroup]="form" method="post" (submit)="addRecado()">
      <ion-textarea type="text" placeholder="Deixa um recado para a portaria." class="inputLocation" rows="2" formControlName="descricao"></ion-textarea>
      <ion-buttons end>
        <button ion-button icon-only clear>
          <ion-icon name="send"></ion-icon>
        </button>
      </ion-buttons>
      </form>
  </ion-footer>