<ion-header>

  <ion-navbar>
    <ion-title>Temporada</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
       <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-toolbar color="subPortaria">
        <ion-row>
            <ion-col col-12 style="text-align:center;color:#fff"> Deslize para a esquerda e obtenha mais opções.</ion-col>
        </ion-row>  
    </ion-toolbar>
  
    <ion-list>  
      <ion-item-sliding *ngFor="let temp of temporadaList">
        <ion-item text-wrap>
            <ion-label class="fontSize"> 
                <ion-icon name="contacts"></ion-icon> <span style="font-weight:bold">{{temp.hospNomeResponsavel}}</span><br />
                Entrada: {{temp.getFormatDataEntrada}}<br />
                Saída: {{temp.getFormatDataSaida}} <br />
                Chegada: {{temp.hospHoraChegada}} / Adultos : {{temp.hospNAdults}} / Crianças: {{temp.hospNCriancas}}<br />
                Total de hospedes:{{temp.nHospedes}} <br />
                Origem: {{temp.hospOrigemResponsavel}}<br />
                <span *ngIf="!temp.descricao"> {{temp.descricao}}</span><br *ngIf="!temp.descricao" />
            </ion-label>
        </ion-item> 
        <ion-item-options side="right">
            <button ion-button color="danger" (click)="excluirTemporada(temp.hospedagemId)">
                <ion-icon name="trash"></ion-icon>
                Remover
            </button>
            <!-- <button ion-button color="primary" (click)="atualizarTemporada(temp)">
                <ion-icon name="create"></ion-icon>
                Editar
            </button> -->
        </ion-item-options>
      </ion-item-sliding>
  </ion-list>

  <ion-fab right bottom>
    <button ion-fab color="topPortaria" (click)="openModalNovaTemporada()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>