tabVisitas-page{
    .bgIlustracao{
        background-image: url(/assets/img/ilus_portaria_app.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 65%;
    }
    .aprovada{
        color : #048A5F;
    }
    .permanente{
        color: orange;
    }
    .fontSize{
        font-size: 12px;
    }
}