<ion-header>

  <ion-navbar color="primary">
    <ion-title>Visitas</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="bgIlustracao">

  <ion-refresher (ionRefresh)="doRefresh($event)">
     <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-toolbar color="subPortaria">
      <ion-row>
          <ion-col col-12 style="text-align:center;color:#fff">Acompanhe suas visitas.</ion-col>
      </ion-row>  
  </ion-toolbar>
  <ion-list>
      <ion-item-sliding *ngFor="let visita of visitasAtivasList">
            <ion-item text-wrap>
              <ion-avatar item-start>
                <img src='{{urlImageServ}}usuario/{{visita.foto}}'  *ngIf="visita.foto">
                <img src="assets/img/no_image.png" *ngIf="!visita.foto">
              </ion-avatar>
              <ion-label class="fontSize"> 
                <strong>{{visita.nome}}</strong><br />
                <span *ngIf="visita.nomeEmpresa">Empresa: {{visita.nomeEmpresa}}</span><br *ngIf="visita.nomeEmpresa" />
                  {{visita.descricao}}<br *ngIf="visita.descricao"/>
                  <strong>Tipo de visita: </strong>{{visita.tipoDeVisita}}<br />
                  <span *ngIf="visita.aprovado" class="aprovada"><strong>Visita aprovada</strong><br /></span> 
                  <span *ngIf="visita.isPreAprovado" class="">A portaria estará aguardando a chegada de seu visitante.<br /></span> 
                  <span *ngIf="visita.visitaPermanente" class="permanente"><strong>Visitante fixo</strong><br /></span>
                  agendado para {{visita.strdataDeCadastro}}
              </ion-label>
              <ion-icon name="ios-arrow-back-outline" item-end item-right small *ngIf="visita.visitaPermanente||visita.isPreAprovado"></ion-icon>
            </ion-item> 
            <ion-item-options side="right" >
                <button ion-button color="primary" (click)="provarVisita(visita.id)" *ngIf="!visita.aprovado">
                    <ion-icon name="checkmark"></ion-icon>
                    Aprovar
                </button>
                <button ion-button color="danger" *ngIf="visita.visitaPermanente||visita.isPreAprovado||!visita.aprovado" (click)="removerVisita(visita.id)" >
                  <ion-icon name="trash"></ion-icon>
                  Remover
                </button>
            </ion-item-options>
        </ion-item-sliding> 
    </ion-list> 
    
  <ion-fab right bottom>
    <button ion-fab color="topPortaria" (click)="openModalMeusVisitantes()"><ion-icon name="people"></ion-icon></button>
     <!-- <ion-fab-list side="left">
      <button ion-fab><ion-icon name="add"></ion-icon></button>
      <button ion-fab><ion-icon name="people"></ion-icon></button>
      <button ion-fab><ion-icon name="person"></ion-icon></button>
    </ion-fab-list> -->
  </ion-fab>
</ion-content>