﻿// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: ( 
  primary: #387ef5, 
  subChat: #5190f7, 
  secondary: #32db64, 
  danger: #f53d3d, 
  light: #f4f4f4, 
  dark: #222, 
  subVagas : #474646,
  topComunicado: #48CFDD,
  subComunicado: #69D6E0,
  topAgendaReserva: #3A87AD,
  subAgendaReserva: #5898B6,
  topCorrespondencia: #4DC2FF,
  subCorrespondencia: #7DD0FA,
  topReservas : #10B89D,
  subReservas : #55BBAA,
  topPortaria : #1EB399,
  subPortaria : #57B8A6,
  topMural : #9666E2,
  subMural : #B38CF0,
  topClassificado: #26D9DD,
  subClassificado: #5EDEE0,
  topAtividade : #3A87AD,
  subAtividade : #5899B8,
  topEnquete : #F9D803,
  subEnquete : #FCE66A,
  remover: #EFA62D,
  vagaCedida: #EFA62D,
  topProdutoServ : #E87D3F,
  subProdutoServ : #EB9360,
  subTransferencia : rgb(241, 177, 72),
  toolBarProdServ : #ffffff,
  bg : #eeeeee,
  btnLogin : #2d2d91,
  topCarteiraVirtual : #00C853,
  subtopCarteiraVirtual: #00C853,
  subRodape : #A5D6A7,
  fundoCarteiraVirtual: #FF9800
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
$toolbar-ios-title-font-size : 1.4rem;
$card-ios-box-shadow : none;


// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
$toolbar-md-title-font-size : 1.4rem;
$card-md-box-shadow : none;
$searchbar-md-input-background-color: transparent;
$searchbar-md-input-box-shadow: none;
$searchbar-md-input-search-icon-color : #fff;
$searchbar-md-input-placeholder-color: #fff;
$searchbar-md-input-text-color: #fff;
$searchbar-md-input-clear-icon-color: #fff;
//$searchbar-md-input-border-radius: 5px;

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here


// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";

// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
