﻿<ion-menu [content]="content">
  <ion-header>
 
  </ion-header>

  <ion-content no-padding>
      <ion-refresher (ionRefresh)="doRefresh($event)">
          <ion-refresher-content></ion-refresher-content>
       </ion-refresher>

       <div class="perfilTop">
          <div class="divNomeCondominio" *ngIf="nomeCondominio"> {{nomeCondominio}}</div>
          <ion-list class="lstMenuDisplay" no-lines>
              <ion-item text-wrap class="bgItem">
                  <ion-avatar item-start *ngIf="strFotoUsuario">
                    <img src='{{urlImageServ}}usuario/{{strFotoUsuario}}' *ngIf="strFotoUsuario" class="imgAvatar">
                    <img src="assets/img/no_image.png" *ngIf="!strFotoUsuario" class="imgAvatar">
                  </ion-avatar>
                  <span *ngIf="nomeCondominio" class="sizeFontDisplayMenu">{{nomeUsuario}}<br />
                    {{bloco_qd}} / Andar/Lt: {{andar_lt}} <br />
                    Unidade: {{unidade_num}}<br />
                    Código: {{codUnidade}}
                  </span>
                </ion-item>
          </ion-list>
          <ion-row>
              <ion-col menuClose center no-padding>
                  <button  ion-button color="light" clear  small  class="text-on-bottom-menu" (click)="meuPerfil()">
                    <img src="assets/img/icones/branco/perfilBranco.png" class="iconeMenu" />
                    <label class="labelIconDown">Perfil</label>
                  </button>       
              </ion-col>
              <ion-col menuClose center no-padding> 
                <button ion-button color="light" clear  small class="text-on-bottom-menu" (click)="selectUnidades()">
                    <img src="assets/img/icones/branco/unidadesBranco.png" class="iconeMenu" />
                  <label class="labelIconDown">Unidades</label>
                </button>            
              </ion-col>
              <ion-col menuClose center no-padding>
                  <button ion-button color="light" clear  small class="text-on-bottom-menu" (click)="reportEmergencia()">
                      <img src="assets/img/icones/branco/emergenciaBranco.png" class="iconeMenu" />
                    <label class="labelIconDown">Emergência</label>
                  </button> 
              </ion-col>
            </ion-row>
        </div>
      <div class="divDemaisIconesMenu">
      <ion-grid>
        <ion-row>
            <ion-col col-6 menuClose *ngFor="let p of pages" center text-center>
                <button  ion-button color="light" clear small  class="text-on-bottom-menu-down"  (click)="openPage(p)">
                  <img src="{{p.imageUrl}}" class="iconeMenuDown" />
                  <label class="labelIconDown">{{p.title}}</label>
                </button>       
            </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12 menuClose>
              <!-- <button ion-button block padding  color="topReservas" [disabled]="!form.valid">Criar reserva</button> -->
              <button ion-button block round padding color="primary" type="button" (click)="logout()">
                Sair
                <!-- <ion-icon name="log-out" item-end item-right small></ion-icon> -->
              </button>
          </ion-col>
        </ion-row>
      </ion-grid>
      </div>  

      <!-- <button menuClose ion-item (click)="reportEmergencia()">
          <ion-icon name="arrow-dropright"></ion-icon> Emergência
      </button>

      <button menuClose ion-item (click)="meuPerfil()">
        <ion-icon name="arrow-dropright"></ion-icon> Meu perfil
      </button> -->

      <!-- <button menuClose ion-item (click)="logout()">
          <ion-icon name="arrow-dropright"></ion-icon> Sair
      </button> -->
      
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>