// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.perfilTop{
    height: 230px;
    background-color: #455F6B;
    color: #fff;
}

.divDemaisIconesMenu{
    background-color: #49BAF8;
}

.divNomeCondominio{
    padding:10px;
    text-align: center;
    font-size: 16px;
}

.bgItem{
    background-color: transparent !important;
    color: #fff;
    border: none;
}

.text-on-bottom-menu{
    height: 58px;
    margin: 0;
}

.text-on-bottom-menu-down{
    height: 80px;
    margin: 0;
}


.text-on-bottom-menu > .button-inner,
 .text-on-bottom-menu-down > .button-inner {
    flex-direction: column;
    text-transform:capitalize;
    font-size: 11px;
}

.sizeFontDisplayMenu{
    font-size: 12px !important;
}

.imgAvatar{
    height: 67px !important;
    width: 67px !important;
}

.iconeMenu{
    max-height: 32px;
    width:auto;
}

.iconeMenuDown{
    max-height: 52px;
    width:auto;
}

.labelIconDown{
    padding: 5px;
    font-weight: normal;
}

@media screen and (max-width: 2048px) and (min-width: 768px){
    
    .labelIconDown{
        padding: 5px;
        font-weight: normal;
        font-size: 14px;
    }

    .sizeFontDisplayMenu{
        font-size: 18px !important;
    }

    .perfilTop{
        height: 269px;
        background-color: #455F6B;
        color: #fff;
    }
}