<ion-header>
        <ion-toolbar color="topProdutoServ">
            <ion-title>
                <ion-icon name="cube"></ion-icon>  {{strNomeFantasia}}
            </ion-title>
            <ion-buttons start>
            <button ion-button (click)="dismiss()">
                <span ion-text color="light" showWhen="ios">Voltar</span>
                <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
            </button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>
                    
    <ion-content class="bgPage">
        
        <div class="divSlide" *ngIf="arrFotosproduto.length > 0">
            <ion-slides pages [loop]="true" [autoplay]="3500">
                <ion-slide *ngFor="let sld of arrFotosproduto">
                    <img src="{{urlImageServ}}Anuncio/{{sld}}" /> 
                </ion-slide>
            </ion-slides>
        </div>

        <ion-grid>
            <ion-row>
                <ion-col col-6>
                    <button *ngIf="isCotacao" (click)="openCotacaoResidencial()" ion-button color="topProdutoServ" block round>Fazer cotação</button>
                    <!-- <button *ngIf="!isResidencial" (click)="openSaibaMais()" ion-button color="topProdutoServ" block round>Saiba mais</button> -->
                </ion-col>
                <ion-col col-6>
                    <button (click)="openEnviarContato()" ion-button color="secondary" block round>Contratar</button>
                </ion-col>
            </ion-row>
        </ion-grid>

        <ion-card>
            <ion-item text-wrap>   
                <span item-end item-right small class="preco" *ngIf="precoView != 0">{{precoView}}</span>
                <h2 class="chamada"> {{chamada}}</h2>
                <p>{{descricao}}</p>
               
            </ion-item>
        </ion-card>
    
    
        <!-- <ion-list>
            <ion-item text-wrap *ngFor="let anunciante of listDeAnunciantes"> 
                <ion-avatar item-start *ngIf="anunciante.ftLogo">
                    <img src="{{urlImageServ}}usuario/{{anunciante.ftLogo}}" />
                     <img src="assets/img/Icon_CondominioApp.png" *ngIf="!anunciante.ftLogo" /> 
                </ion-avatar>
                <h2> {{anunciante.nomeFantasia}}</h2>
                <p><ion-icon name="call"></ion-icon> {{anunciante.tel}}</p>
                <ion-icon name="ios-arrow-forward" item-end item-right small ></ion-icon>
            </ion-item>
        </ion-list> -->
    </ion-content>