<ion-header>
    <ion-toolbar color="topProdutoServ">
        <ion-title>
            <ion-icon name="home"></ion-icon>  {{categoria.descricao}}
        </ion-title>
        <ion-buttons start>
        <button ion-button (click)="dismiss()">
            <span ion-text color="light" showWhen="ios">Voltar</span>
            <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
        </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
                
<ion-content class="bgPage">
    
    <ion-card *ngFor="let anunciante of listDeAnunciantes" (click)="listaLoja(anunciante)">
        <ion-item text-wrap>
            <ion-thumbnail item-start *ngIf="anunciante.ftLogo">
                <img src="{{urlImageServ}}anunciantes/{{anunciante.ftLogo}}" />
                <!-- <img src="assets/img/Icon_CondominioApp.png" *ngIf="!anunciante.ftLogo" /> -->
            </ion-thumbnail>
            <h2> {{anunciante.nomeFantasia}}</h2>
            <p><ion-icon name="call"></ion-icon> {{anunciante.tel}}</p>
            <ion-icon name="ios-arrow-forward" item-end item-right small ></ion-icon>
        </ion-item>
    </ion-card>


    <!-- <ion-list>
        <ion-item text-wrap *ngFor="let anunciante of listDeAnunciantes"> 
            <ion-avatar item-start *ngIf="anunciante.ftLogo">
                <img src="{{urlImageServ}}usuario/{{anunciante.ftLogo}}" />
                 <img src="assets/img/Icon_CondominioApp.png" *ngIf="!anunciante.ftLogo" /> 
            </ion-avatar>
            <h2> {{anunciante.nomeFantasia}}</h2>
            <p><ion-icon name="call"></ion-icon> {{anunciante.tel}}</p>
            <ion-icon name="ios-arrow-forward" item-end item-right small ></ion-icon>
        </ion-item>
    </ion-list> -->
</ion-content>