anuncioDetalhes-page{
    .divSlide{
        height : 160px;
        margin-top: 2px !important;
    }

    .bgPage{
        background-color: #ededed;
    }

    .preco{
        color: #32db64;
    }

    .chamada{
        color: #E87D3F;
    }
}