<ion-header>
    <ion-toolbar color="topProdutoServ">
        <ion-title>
            <ion-icon name="mail"></ion-icon>  Fale com o anunciante
        </ion-title>
        <ion-buttons start>
        <button ion-button (click)="dismiss()">
            <span ion-text color="light" showWhen="ios">Voltar</span>
            <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
        </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
   
<ion-content class="bgApp">
    <form [formGroup]="form" (submit)="enviarContato()">
        <ion-list no-lines>
            
            <!-- <ion-item>
                <ion-label>Nome</ion-label>
                <ion-input type="text" formControlName="nome"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label>E-mail</ion-label>
                <ion-input type="text" formControlName="email"></ion-input>
            </ion-item> -->
    
            <ion-item>
                <ion-label>Telefone</ion-label>
                <ion-input type="text" formControlName="telefone"></ion-input>
            </ion-item>
          
            <ion-item>
                <ion-label>Mensagem</ion-label>
                <ion-textarea placeholder="Digite sua mensagem." formControlName="mensagem" rows="5"></ion-textarea>
            </ion-item>

            <ion-item text-center>
                <button ion-button round padding type="submit" color="topProdutoServ" [disabled]="!form.valid" style="width: 220px">Enviar mensagem</button>
            </ion-item>

        </ion-list>
    </form>
</ion-content>