<ion-header>
        <ion-toolbar color="topProdutoServ">
            <ion-title>
                <ion-icon name="home"></ion-icon> {{anunciante.nomeFantasia}}
            </ion-title>
            <ion-buttons start>
            <button ion-button (click)="dismiss()">
                <span ion-text color="light" showWhen="ios">Voltar</span>
                <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
            </button>
            </ion-buttons>
        </ion-toolbar>
</ion-header>
       
<ion-content class="bgApp">

        <img src="{{urlArquivosUpload}}anunciantes/{{ftBannerAnunciantes}}" *ngIf="ftBannerAnunciantes" />
        <img src="assets/img/Banners/produtosServicos.jpg" *ngIf="!ftBannerAnunciantes" />

        <ion-card>
            <ion-card-header>
                   <span class="fontColor">{{anunciante.nomeFantasia}}</span>
            </ion-card-header>
            <ion-card-content>
                   <span class="fontSize">{{anunciante.descricao}}</span>
            </ion-card-content>
        </ion-card>
        <p class="subTitulo" *ngIf="listDeAnuncios.length > 0">Anúncios</p>
        <ion-list>
            <ion-item text-wrap *ngFor="let anuncio of listDeAnuncios" (click)="detalhesAnuncio(anuncio)"> 
                <ion-thumbnail item-start *ngIf="anuncio.ftProduto">
                    <img src="{{urlImageServ}}anuncio/{{anuncio.ftProduto}}" style="height: auto !important; margin-top: 10px;" />
                </ion-thumbnail>
                <p> {{anuncio.chamada}}</p>
                <ion-icon name="ios-arrow-forward" item-end item-right small ></ion-icon>
            </ion-item>
        </ion-list>

        <!-- <ion-card>
            <ion-card-content>
                <p class="fontSize">
                    <span *ngIf="anunciante.cnpj">CNPJ: {{anunciante.cnpj}}<br /></span> 
                    End: {{anunciante.endereco.logradouro}} {{anunciante.endereco.numero}} <span *ngIf="anunciante.endereco.cep">/ Cep: {{anunciante.endereco.cep}}</span> <br />
                    Bairro : {{ anunciante.endereco.bairro }}<br />
                    Cidade: {{anunciante.endereco.cidade}}<br />
                    Estado: {{anunciante.endereco.estado}}<br />
                    <ion-icon name="call"></ion-icon> {{anunciante.tel}}
                </p>
            </ion-card-content>
        </ion-card> -->

        <p class="subTitulo">Localização</p>
        <ion-card>
            <ion-card-header>
                <div #map id="map" style="width: 100%; height:250px"></div>
            </ion-card-header>
            <ion-card-content>
                    <p class="fontSize">
                            <span *ngIf="anunciante.cnpj">CNPJ: {{anunciante.cnpj}}<br /></span> 
                            End: {{anunciante.endereco.logradouro}} {{anunciante.endereco.numero}} <span *ngIf="anunciante.endereco.cep">/ Cep: {{anunciante.endereco.cep}}</span> <br />
                            Bairro : {{ anunciante.endereco.bairro }}<br />
                            Cidade: {{anunciante.endereco.cidade}}<br />
                            Estado: {{anunciante.endereco.estado}}<br />
                            <ion-icon name="call"></ion-icon> {{anunciante.tel}}
                        </p>
            </ion-card-content>
        </ion-card>

        <!-- <ion-toolbar color="light" no-border class="fontSize">
            <p>{{anunciante.nomeFantasia}}</p>
            <p>{{anunciante.descricao}}</p><br />
            <p><span *ngIf="anunciante.cnpj">CNPJ: {{anunciante.cnpj}}<br /></span> 
            End: {{anunciante.endereco.logradouro}} {{anunciante.endereco.numero}} <span *ngIf="anunciante.endereco.cep">/ Cep: {{anunciante.endereco.cep}}</span> <br />
            Cidade: {{anunciante.endereco.cidade}}<br />
            Estado: {{anunciante.endereco.estado}}<br />
            <ion-icon name="call"></ion-icon> {{anunciante.tel}}<br />
        </ion-toolbar> -->

        
   
</ion-content>