loja-page{
    .bgApp{
        background-color: #eeeeee;
    }
    .fontSize{
        font-size: 11.5px;
    }
    .fontColor{
        color:#E87D3F;
    }
    .subTitulo{
        padding:0 12px;
        font-size: 11px; 
    }
}