page-produtoServicos{
    .tabs-md .tab-button {
        color: #E87D3F !important;
       }
      
       .tabs-md .tab-button[aria-selected=true] {
         color: #E87D3F !important;
       }
       .tab-button-icon{
        color: #E87D3F !important;
       }
}