<ion-header>
    <ion-navbar color="topProdutoServ">
        <ion-title>Produtos | Serviços</ion-title>
    </ion-navbar>
</ion-header>
<ion-tabs>
    <ion-tab tabTitle="Home" tabIcon="home" [root]="homeTab"></ion-tab>
    <ion-tab tabTitle="Categorias" tabIcon="menu" [root]="categoriaTab"></ion-tab>
</ion-tabs>