<ion-header>
        
    <ion-navbar color="topProdutoServ">
       <ion-title>Categorias</ion-title>
    </ion-navbar>
        
</ion-header>
       
<ion-content>
    <!-- <ion-list> -->
        <ion-card *ngFor="let cat of listDeCategorias" (click)="listarAnunciantes(cat)">
            <ion-item text-wrap> 
                <ion-icon name="home" item-start item-left small ></ion-icon>
                 <span class="dataDisplay"> {{cat.descricao}}</span>
                 <ion-icon name="ios-arrow-forward" item-end item-right small ></ion-icon>
            </ion-item>
        </ion-card>
    <!-- </ion-list> -->
</ion-content>