<ion-header>
        
    <ion-navbar color="topProdutoServ">
    <ion-title>Home Produtos</ion-title>
    </ion-navbar>

</ion-header>

<ion-content class="bgPage">
    
    <div class="divSlide">
        <ion-slides pages [loop]="true" [autoplay]="3500">
            <ion-slide style="background-image:url(assets/img/Banners/chave-banner.jpg);background-repeat:no-repeat;background-size:cover">
                <h2>Perdeu a Chave?</h2>
                <p>De chaveiro a pedreiro, diversos serviços ao seu alcance.</p> 
            </ion-slide>
            <ion-slide style="background-image:url(assets/img/Banners/chave-beleza.jpg);background-repeat:no-repeat;background-size:cover">
                <h2>Fique mais bonita</h2>
                <p>Os melhores produtos e serviços de Beleza você encontra aqui.</p>
            </ion-slide>
            <ion-slide style="background-image:url(assets/img/Banners/bannerOutEstasaSerguros.jpg);background-repeat:no-repeat;background-size:cover">
                <!-- <h2>O Melhor Hamburger</h2>
                <p>Não fique com fome aproveite</p> -->
            </ion-slide>
        </ion-slides>
    </div>

    <ion-toolbar color="toolBarProdServ" no-border>
        <ion-slides [slidesPerView]="3" [loop]="true" [spaceBetween]="3">      
            <ion-slide *ngFor="let categoria of listDeCategorias">
                <button ion-button clear (click)="listarAnunciantes(categoria.id)" class="sizeFont">
                    {{categoria.descricao}}
                </button>
            </ion-slide>
        </ion-slides> 
     </ion-toolbar>
        
    <ion-list>
        <ion-item text-wrap *ngFor="let anunciante of listDeAnunciantes" (click)="listaLoja(anunciante)">
            <ion-thumbnail item-start *ngIf="anunciante.ftLogo">
                <img src="{{urlImageServ}}anunciantes/{{anunciante.ftLogo}}" style="height: auto !important; padding-top: 10px;" />
            </ion-thumbnail>
            <label> {{anunciante.nomeFantasia}}</label>
            <p><ion-icon name="call"></ion-icon> {{anunciante.tel}}</p>
            <ion-icon name="ios-arrow-forward" item-end item-right small ></ion-icon>
        </ion-item>
    </ion-list>

    

</ion-content>