tabHome-page{
    .sizeFont{
        font-size:11.5px;
        color:#E87D3F !important;
    }

    .fontColor{
        color:#E87D3F !important;
    }

    .bgPage{
        background-color: #ededed;
    }

    .divSlide{
        height : 160px;
        color: #ffffff;
    }
}