<ion-header>
    <ion-navbar color="topCarteiraVirtual">
        <ion-title>Carteira Virtual</ion-title>
    </ion-navbar>
</ion-header>
<ion-tabs color="topCarteiraVirtual">
    <ion-tab tabTitle="Acesso" tabIcon="barcode" [root]="acessoTab"></ion-tab>
    <ion-tab tabTitle="Carteiras" tabIcon="card" [root]="carteirasTab"></ion-tab>
</ion-tabs>