listCarteiraVirtual-page{
    .ativado{
        color:#0fec08;
    }
    .inativo{
        color: #e67d06;
    }
    .bgApp{
        background-color: #eee;
    }
    .fontSize{
        font-size: 11.5px;
    }
    .fontSizeNome{
        font-weight: bold;
    }
    .divRodapeAtivo{
        padding: 10px 18px;
        background-color: #0fec08;
        color:#fff;
        // text-align: center;
        font-weight: bold;
    }
    .divRodapeInativo{
        padding: 10px 18px;
        background-color: #e67d06;
        color:#fff;
        // text-align: center;
        font-weight: bold;
    }
    .divRodapeAtivoConvidado{
        padding: 0 0 0 18px;
        background-color: #087eec;
        color:#fff;
        // text-align: center;
        font-weight: bold;
    }
    .divRodapeInativoConvidado{
        padding: 0 0 0 18px;
        background-color: #e67d06;
        color:#fff;
        // text-align: center;
        font-weight: bold;
    }
    .marginIcon{
        margin:0 10px !important;
    }
}