<ion-header>
    <ion-navbar color="secondary">
        <ion-title><ion-icon name="card"></ion-icon> Carteiras de {{nomeAreaDeAcesso}}</ion-title>
        <ion-buttons start>
            <button ion-button (click)="dismiss()">
                <span ion-text color="light" showWhen="ios">Voltar</span>
                <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
    
<ion-content class="bgApp">    
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-card *ngFor="let carteira of listDeCarteiras">
        <ion-card-content>
          <ion-item> 
              <ion-thumbnail iten-start item-left large>
                <img src="{{urlImageServ}}{{carteira.foto}}" *ngIf="carteira.foto" />
                <ion-icon iten-end name="contact" item-end item-right large *ngIf="!carteira.foto"></ion-icon>
              </ion-thumbnail>
              <span class="fontSizeNome">{{carteira.nome}}</span><br />
              <span class="fontSize">Validade: {{carteira.dataDeValidade}}</span><br />
              <span *ngIf="carteira.validado" class="ativado"><ion-icon name="ios-checkmark-circle-outline"></ion-icon></span>
              <span *ngIf="!carteira.validado" class="inativo">Suspensa</span>
          </ion-item> 
        </ion-card-content>
         <p class="divRodapeAtivo" *ngIf="carteira.statusCarteira == 'REGULAR' && carteira.validado">{{carteira.statusCarteira}}</p>
         <p class="divRodapeInativo" *ngIf="carteira.statusCarteira == 'EXPIRADO' && carteira.validado">{{carteira.statusCarteira}}</p>
      </ion-card>

      <ion-item-divider color="light">
          <ion-icon name="ios-people-outline"></ion-icon> Meus convidados para {{nomeAreaDeAcesso}}
      </ion-item-divider>

      <ion-card *ngFor="let convidado of listDeConvidados">
        <ion-card-content>
          <ion-item> 
              <ion-thumbnail iten-start item-left large>
                <img src="{{urlImageServ}}{{convidado.foto}}" *ngIf="convidado.foto" />
                <img src="assets/img/no_image.png" *ngIf="!convidado.foto" />
              </ion-thumbnail>
              <span class="fontSizeNome">{{convidado.nome}} {{convidado.sobrenome}}</span><br />
              <span class="fontSize">Validade: {{convidado.dataDeValidade}}</span><br />
              <span class="fontSize" *ngIf="convidado.statusCarteira == 'REGULAR'">Status: <span class="ativado">{{convidado.statusCarteira}}</span><br /></span>
              <span class="fontSize" *ngIf="convidado.statusCarteira == 'EXPIRADO' && convidado.aprovado">Status: <span class="inativo">{{convidado.statusCarteira}}</span><br /></span>
              
              <span *ngIf="convidado.aprovado" class="ativado"><ion-icon name="ios-checkmark-circle-outline"></ion-icon></span>
              <span *ngIf="!convidado.aprovado" class="inativo"><ion-icon name="ios-close-circle-outline"></ion-icon></span>
              <ion-item>
                <ion-toggle (ionChange)="getAtivaDesativa($event.checked,convidado.id)" iten-end [checked]="convidado.isAtivado"></ion-toggle>
              </ion-item>
          </ion-item> 

        </ion-card-content>
         <ion-item (click)="openEditConvidado(convidado)" class="divRodapeAtivoConvidado" *ngIf="convidado.isAtivado && convidado.aprovado">ATIVO
                <ion-icon class="marginIcon" iten-end name="ios-create-outline" item-end item-right large></ion-icon>
                <!-- <ion-icon class="marginIcon" iten-end name="ios-lock-outline" item-end item-right large></ion-icon> -->
         </ion-item>
         <ion-item (click)="openEditConvidado(convidado)" class="divRodapeInativoConvidado" *ngIf="!convidado.isAtivado && convidado.aprovado">INATIVO
                <ion-icon class="marginIcon" iten-end name="ios-create-outline" item-end item-right large></ion-icon>
                <!-- <ion-icon class="marginIcon" iten-end name="ios-lock-outline" item-end item-right large></ion-icon> -->
         </ion-item>
      </ion-card>

      <ion-fab right bottom *ngIf="permitirConvidado">
        <button ion-fab color="secondary" (click)="openNovoConvidado()"><ion-icon name="add"></ion-icon></button>
        <!-- <ion-fab-list side="left">
          <button ion-fab><ion-icon name="logo-facebook"></ion-icon></button>
          <button ion-fab><ion-icon name="logo-twitter"></ion-icon></button>
          <button ion-fab><ion-icon name="logo-vimeo"></ion-icon></button>
          <button ion-fab><ion-icon name="logo-googleplus"></ion-icon></button>
        </ion-fab-list> -->
      </ion-fab>
</ion-content>