<ion-header>
        <ion-toolbar color="secondary">
            <ion-title>
            <ion-icon name="person"></ion-icon>  Editar convidado
            </ion-title>
            <ion-buttons start>
            <button ion-button (click)="dismiss()">
                <span ion-text color="light" showWhen="ios">Voltar</span>
                <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
            </button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>
    
    <ion-content>
    
        <form [formGroup]="form" (submit)="EditConvidado()">                
            <ion-list no-lines>                   
                <!-- <ion-item-divider color="light">Período</ion-item-divider> -->
               <ion-item *ngIf="fotoConvidado">
                    <img src="{{pathPreviewImage}}" style="max-width:280px;height:auto;margin:4px auto" />
               </ion-item>
              
               <ion-item>
                <button ion-button round padding type="button" color="secondary" (click)="takePic('camera')">Câmera</button>
                <button ion-button round padding type="button" color="secondary"(click)="takePic('galeria')">Galeria</button>
              </ion-item>
              
                <ion-item>
                    <ion-label>Nome</ion-label>
                    <ion-input type="text" formControlName="nome"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>Sobrenome</ion-label>
                    <ion-input type="text" formControlName="sobrenome"></ion-input>
                </ion-item>
    
                <ion-item>
                    <ion-label>E-mail</ion-label>
                    <ion-input type="text" formControlName="email"></ion-input>
                </ion-item>    
    
                <ion-item>
                    <button ion-button block padding type="submit" color="topPortaria" [disabled]="!form.valid">Salvar alterações</button>
                </ion-item>  
            </ion-list>         
        </form> 
    
    </ion-content>