qr_carteiraVirtual-page{
    .bgApp{
        background-color: #00C853;
      }
    .bgApp2{
      background-color: #FF9800;
    }
      
    .sizeFont{
        font-size: 18px;
      }

    .imgCarteirinha{
      max-height: 150px;
      width: auto;
      border: solid 3px #fff;
      border-radius: 73px;
    }

    .miniaturaImg{
      max-height: 20px;
      width: auto;
    }

    .rowImageAvatar{
      padding: 0 !important;
      margin: 0 !important;
    }

    .txtMorador{
      color: #FFF;
    }

    .txtRodapeRotulo{
      padding: 4px;
    }

    .txtFeedBack{
      text-align: center;
      color:#fff;
    }

    .text-on-bottom{
      min-height: 250px;
      margin: 0;
    }
  
    .text-on-bottom > .button-inner {
        flex-direction: column;
        text-transform:capitalize;
        font-size: 16.5px;
    }

    .text-on-bottom_rodape{
       min-height: 50px;
       margin: 0;
    }

    .text-on-bottom_rodape > .button-inner{
      flex-direction: column;
      text-transform:capitalize;
      font-size: 12px;
      margin: 0;
    }
}