<ion-header>
    <ion-toolbar color="subtopCarteiraVirtual" *ngIf="validado">
      <ion-title>
          <ion-icon name="barcode"></ion-icon> Carteirinha Virtual
      </ion-title>
      <ion-buttons start>
        <button ion-button (click)="dismiss()">
          <span ion-text color="light" showWhen="ios">Voltar</span>
          <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>

    <ion-toolbar color="fundoCarteiraVirtual" *ngIf="!validado">
        <ion-title>
            <ion-icon name="barcode"></ion-icon> Carteira Virtual
        </ion-title>
        <ion-buttons start>
          <button ion-button (click)="dismiss()">
            <span ion-text color="light" showWhen="ios">Voltar</span>
            <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
          </button>
        </ion-buttons>
      </ion-toolbar>

  </ion-header>

<ion-content class="bgApp" *ngIf="validado">
    <ion-row>
        <ion-col col-12 style="text-align:center;color:#fff">
            <span>{{strNomeCondominio}}</span><br /><br />
            <span class="sizeFont">{{strNomeDaAreaDeAcesso}}</span><br/>
            <span class="sizeFont">Acesso liberado</span>
        </ion-col>
    </ion-row>  
    
    <ion-row class="rowImageAvatar">
        <ion-col>
            <button ion-button color="light" clear block class="text-on-bottom">
                <img src="{{pathImageView}}{{strFotoCarteira}}" class="imgCarteirinha" *ngIf="strFotoCarteira">
                <img src="assets/img/no_image.png" class="imgCarteirinha" *ngIf="!strFotoCarteira"><br />
                <label>
                    Nome: {{strNome}} <br />
                    Unidade: {{strUnidade}} <br />
                    Bloco: {{strBloco}}<br />
                    Validade : {{strValidade}}
                </label>
            </button>   
        </ion-col>
    </ion-row>
</ion-content>

<ion-content class="bgApp2" *ngIf="!validado">
        <ion-row>
            <ion-col col-12 style="text-align:center;color:#fff">
                <span>{{strNomeCondominio}}</span><br /><br />
                <span class="sizeFont">{{strNomeDaAreaDeAcesso}}</span><br/>
                <span class="sizeFont">Acesso Negado</span>
            </ion-col>
        </ion-row>  
        
        <ion-row class="rowImageAvatar">
            <ion-col>
                <button ion-button color="light" clear block class="text-on-bottom">
                    <img src="{{pathImageView}}{{strFotoCarteira}}" class="imgCarteirinha" *ngIf="strFotoCarteira">
                    <img src="assets/img/no_image.png" class="imgCarteirinha" *ngIf="!strFotoCarteira"><br />
                    <label>
                        Nome: {{strNome}} <br />
                        Unidade: {{strUnidade}} <br />
                        Bloco: {{strBloco}}<br />
                        Validade : {{strValidade}}
                    </label>
                </button>   
            </ion-col>
        </ion-row>
        <!-- <p *ngIf="!isValidade" class="txtFeedBack"><br />Sua carteira esta VENCIDA procure a administração de seu condomínio.</p> -->
        <p *ngIf="!validado" class="txtFeedBack"><br />Sua carteira não está VÁLIDA procure a administração de seu condomínio.</p>
    </ion-content>

<ion-footer >
    <ion-toolbar color="subtopCarteiraVirtual" *ngIf="validado">
        <ion-slides [slidesPerView]="3" [loop]="false" [spaceBetween]="3">      
            <ion-slide *ngFor="let carteira of listDeCarteiras">            
                <button ion-button color="light" clear class="text-on-bottom_rodape" (click)="changeCateira(carteira)" style="margin-right: 20px">
                    <img src="{{pathImageView}}{{carteira.foto}}" class="miniaturaImg" *ngIf="carteira.foto">
                    <img src="assets/img/no_image.png" class="miniaturaImg" *ngIf="!carteira.foto">
                    <div class="txtRodapeRotulo">{{carteira.nome}}</div>
                </button>       
            </ion-slide>
        </ion-slides> 
    </ion-toolbar>

    <ion-toolbar color="fundoCarteiraVirtual" *ngIf="!validado">
            <ion-slides [slidesPerView]="3" [loop]="false" [spaceBetween]="3">      
                <ion-slide *ngFor="let carteira of listDeCarteiras">            
                    <button ion-button color="light" clear class="text-on-bottom_rodape" (click)="changeCateira(carteira)" style="margin-right: 20px">
                            <img src="{{pathImageView}}{{carteira.foto}}" class="miniaturaImg" *ngIf="carteira.foto">
                            <img src="assets/img/no_image.png" class="miniaturaImg" *ngIf="!carteira.foto">
                        <div class="txtRodapeRotulo">{{carteira.nome}}</div>
                    </button>       
                </ion-slide>
            </ion-slides> 
        </ion-toolbar>
</ion-footer>