<ion-header>
    <ion-navbar>
        <ion-title>Áreas de acesso</ion-title>
    </ion-navbar>
</ion-header>
    
<ion-content class="bgApp">    
    
    <ion-card *ngFor="let areaAcesso of objAreasDeAcessoCarteiras">
        <ion-card-content>
          <ion-item (click)="getCarteirasDaArea(areaAcesso)"> 
              <span>{{areaAcesso.nomeAreaAcesso}}</span><br />
              <span class="fontSize">Área de acesso</span><br />
              <span class="fontSize" *ngIf="areaAcesso.permitirConvidado">Permite convidados<br /></span>
              <span class="fontSize" *ngIf="areaAcesso.permitirConvidado">Max: {{areaAcesso.qtdMaxConvidado}}<br /></span>
              <span class="fontSize" *ngIf="!areaAcesso.permitirConvidado"><strong>Não</strong> permite convidados<br /></span>
              <ion-icon iten-end name="home" item-end item-right large></ion-icon>
          </ion-item> 
        </ion-card-content>
      </ion-card>

</ion-content>