tabAcesso-page{
    .bgApp{
        background-color: #eee;
    }

    .rowImageAvatar{
        padding: 0 !important;
        margin-top: 20% !important;
    }

    .imgCarteirinha{
        max-height: 150px;
        width: auto;
        //border: solid 3px #fff;
        //border-radius: 73px;
    }
  
    .text-on-bottom{
        min-height: 250px;
        margin: 0;
      }
    
      .text-on-bottom > .button-inner {
          flex-direction: column;
          text-transform:none;
          font-size: 16.5px;
          color: #333;
      }
}