<ion-header>
    <ion-navbar>
        <ion-title>Acesso</ion-title>
    </ion-navbar>
</ion-header>
    
<ion-content class="bgApp">
    
    <ion-row class="rowImageAvatar">
        <ion-col>
            <button ion-button color="light" clear block class="text-on-bottom" (click)="lerCodigoDeBarra()">
                <img src="assets/img/icones/iconeCarteirinha.png" class="imgCarteirinha">
                <p>Escanear código de acesso</p>
            </button>   
        </ion-col>
    </ion-row>

</ion-content>