recebidas-page{
    .numUnidade{
        background-color:#32db64;
        text-align: center;
        color:#fff;
        padding: 17px;
        font-weight: bold;
    }
    .txtMenor{
        font-size: 9px;
    }
}