<ion-header>
    <ion-toolbar color="secondary">
        <ion-title>
            <ion-icon name="swap"></ion-icon> Recebidas
        </ion-title>
        <ion-buttons start>
        <button ion-button (click)="dismiss()">
            <span ion-text color="light" showWhen="ios">Voltar</span>
            <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
        </button>
        </ion-buttons>
</ion-toolbar>
</ion-header>

<ion-content>
        
            <ion-refresher (ionRefresh)="doRefresh($event)">
                <ion-refresher-content></ion-refresher-content>
            </ion-refresher>
        
            <ion-list>
                <ion-item text-wrap *ngFor="let t of transferenciasConfirmadasList">
                    <ion-avatar item-start class="numUnidade">
                        Unidade<br /> {{t.numeroApt}}
                    </ion-avatar>
                    <p>Vaga fornecida pela unidade {{t.numeroApt}} <br /> {{t.strGrupo}}</p>
                    <p class="txtMenor">Transferência ativa</p>
                </ion-item> 
            </ion-list> 
        
        </ion-content>