<ion-header>
        
    <ion-navbar color="primary">
    <ion-title>Requisições</ion-title>
    </ion-navbar>

</ion-header>

<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-toolbar color="subTransferencia">
        <ion-row>
            <ion-col width-100 style="text-align:center;color:#fff">Deslize para a esquerda para mais opções.</ion-col>
        </ion-row>  
    </ion-toolbar>
    <ion-list>
        <ion-item-sliding *ngFor="let requisicao of requisicoesDeVagas">
            <ion-item text-wrap>
                <ion-avatar item-start class="numUnidade">
                   <ion-icon name="swap"></ion-icon> Unidade<br /> {{requisicao.numeroApt}}
                </ion-avatar>
                <p>Você requisitou a vaga da unidade {{requisicao.numeroApt}} - {{requisicao.strGrupo}}</p>
                <p class="txtMenor">Requisição de vaga</p>
                <ion-icon name="ios-arrow-back-outline" item-end item-right small></ion-icon>
            </ion-item> 
            <ion-item-options side="right">
                <button ion-button color="danger" (click)="excluirRequisicao(requisicao.id)">
                    <ion-icon name="trash"></ion-icon>
                    Remover
                </button>
            </ion-item-options>
    </ion-item-sliding> 
   
    </ion-list> 
</ion-content>