tabSolicitacoes-page{
    .numUnidade{
        background-color:#EFA62D;
        text-align: center;
        color:#fff;
        padding: 17px;
        font-weight: bold;
    }
    .txtMenor{
        font-size: 9px;
    }

    
}