<ion-header>
    <ion-navbar color="primary">
        <ion-title>Tranferidas</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>

    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-list>
        <ion-item text-wrap *ngFor="let t of transferenciasConfirmadasList">
            <ion-avatar item-start class="numUnidade">
                Unidade<br /> {{t.numeroApt}}
            </ion-avatar>
            <p>Vaga em uso pela unidade {{t.numeroApt}} - {{t.strGrupo}}</p>
            <p class="txtMenor">Transferência ativa</p>
        </ion-item> 
    </ion-list> 

</ion-content>