<ion-header>
<ion-toolbar color="vagaCedida">
    <ion-title>
        <ion-icon name="swap"></ion-icon> Transferências
    </ion-title>
    <ion-buttons start>
    <button ion-button (click)="dismiss()">
        <span ion-text color="light" showWhen="ios">Voltar</span>
        <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
    </button>
    </ion-buttons>
</ion-toolbar>
</ion-header>

      
<ion-tabs>
    <ion-tab tabTitle="Solicitações" tabIcon="swap" [root]="solicitacoesTab"></ion-tab>
    <ion-tab tabTitle="Transferidas" tabIcon="swap" [root]="transferidasTab"></ion-tab>
    <ion-tab tabTitle="Requisições" tabIcon="swap" [root]="requisicoesTab"></ion-tab>
</ion-tabs>