<ion-header>     
    <ion-navbar color="danger">
      <ion-title>Administradora</ion-title>
    </ion-navbar>
 </ion-header>
   
 <ion-content class="bgApp">          
     <ion-refresher (ionRefresh)="doRefresh($event)">
         <ion-refresher-content></ion-refresher-content>
     </ion-refresher>
     
     <ion-card *ngIf="boletoApp" (click)="abrirBoleto()">
        <ion-card-content>
          <ion-item> 
              <ion-icon iten-end name="barcode" item-end item-right large color="topCorrespondencia"></ion-icon>
              <span class="fontSize">Retire seu boleto</span>
          </ion-item>
        </ion-card-content>
      </ion-card>
     
 </ion-content>