<ion-header>     
    <ion-navbar color="danger">
      <ion-title>Meu boleto</ion-title>
    </ion-navbar>
 </ion-header>
   
 <ion-content class="bgApp">          
     <ion-refresher (ionRefresh)="doRefresh($event)">
         <ion-refresher-content></ion-refresher-content>
     </ion-refresher>
     
     <ion-card *ngFor="let oBoleto of listObjBoleto">
        <ion-card-content>
          <p><strong>Beneficiário:</strong> {{oBoleto.beneficiario}}</p>
          <p><strong>CNPJ Beneficiário:</strong> {{oBoleto.beneficiarioCnpj}}</p>
          <p><strong>Vencimento:</strong> {{oBoleto.vencimento}}</p>
          <p><strong>Pagador:</strong> {{oBoleto.pagador}}</p>
          <p><strong>Data do documento:</strong> {{oBoleto.dataDoc}}</p>
          <p><strong>Valor:</strong> {{oBoleto.valorDoc}}</p>
          <p>
              <button ion-button round padding type="button" (click)="exibirBoleto(oBoleto.urlBoleto)"  color="danger" style="min-width: 220px"> Visualizar boleto</button>
          </p>
        </ion-card-content>
      </ion-card>
     
 </ion-content>