<ion-header>
    <ion-navbar color="danger">
      <ion-title><ion-icon name="home"></ion-icon> Unidades</ion-title>
      <!-- <ion-buttons end>
        <button ion-button icon-only color="royal" (click)="openModalMinhasReservas()">
          <ion-icon name="more"></ion-icon>
        </button>
      </ion-buttons> -->
    </ion-navbar>
  </ion-header>
  
  <ion-content>

    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-list>
        <ion-item-sliding *ngFor="let unidade of unidadesLst">
           <ion-item text-wrap>
               <p>
                  <ion-icon name="home"></ion-icon>  Unidade: {{unidade.complemento}} <br /> {{unidade.grupoDescricao}} 
               </p>
               <p class="txtMenor">{{unidade.strNomeCondominio}}</p>
               <ion-icon name="md-checkmark" item-end item-right small *ngIf="idUnidadeAtiva == unidade.id"></ion-icon>
               <ion-icon name="ios-arrow-back-outline" item-end item-right small></ion-icon>
           </ion-item>

           <ion-item-options side="right">
             <button ion-button color="secondary" *ngIf="idUnidadeAtiva != unidade.id" (click)="setUnidadeAtiva(unidade.id)">
                 <ion-icon name="md-checkmark"></ion-icon>
                  Ativar
             </button>
             <button ion-button color="topReservas" *ngIf="idUnidadeAtiva == unidade.id" (click)="setNotification(unidade.notificacaoID,!unidade.notificacao)">
                <ion-icon name="notifications" *ngIf="unidade.notificacao"></ion-icon>
                <ion-icon name="notifications-off" *ngIf="!unidade.notificacao"></ion-icon>
                 Notificações
            </button>
           </ion-item-options>
         </ion-item-sliding> 
    </ion-list> 

  </ion-content>