﻿<ion-header>
  <ion-navbar color="topComunicado">
    <ion-title>Comunicados | Ocorrências</ion-title>
  </ion-navbar>
</ion-header>
<ion-tabs>
  <ion-tab  tabTitle="Comunicados" tabIcon="text" [root]="comunicadosTab"></ion-tab>
  <ion-tab  tabTitle="Ocorrências" tabIcon="book" [root]="ocorrenciasTab"></ion-tab>
  <ion-tab  tabTitle="Arquivos" tabIcon="document" [root]="arquivosTab"></ion-tab>
</ion-tabs>