﻿page-comunicadoOcorrencia {
  .bgApp{
    background-color: #eeeeee;
   }

  .dataDisplay {
    font-size: 9px;
  }

  .bgLista{
    background-color: transparent !important;
  }

  .custom-icon{
    font-size: 50px !important; 
  }
 .custom-icon-folder{
    font-size: 26px !important; 
  }
  .txtLabel{
    font-size: 10px;
    color: #48CFDD
  }

  .iconAnexo{
    font-size: 18px;
    color: #48CFDD
  }

  .linkDownload{
    color:#0980F0;
    font-size: 12px;
  }
  
  .txtPermiteAdministracao{
    font-size: 12px;
  }

  .pub{
    color:#0980F0;
  }

  .priv{
    color:#F08C09;
  }

  .tabs-md .tab-button {
    color: #48CFDD !important;
   }
  
   .tabs-md .tab-button[aria-selected=true] {
     color: #48CFDD !important;
   }
   .tab-button-icon{
    color: #48CFDD !important;
   }

  .text-on-bottom > .button-inner {
        flex-direction: column;
        text-transform:capitalize;
        font-size: 12px;
    }

  .btnBarraTop{
      float: left;
      margin: 4px;
  }
  .sizeFont{
    font-size: 12px;
  }

  
  .custom-icon{
    font-size: 50px !important; 
  }
 .custom-icon-folder{
    font-size: 30px !important; 
  }
  .rotuloFolder{
    color:#333333;
  }
  .marginTop{
    margin-top: 25px;
  }
}
