﻿<ion-header>
  <ion-toolbar color="topComunicado">
    <ion-title>
      {{titulo}}
    </ion-title>
    <ion-buttons start>
        <button ion-button (click)="dismiss()">
          <span ion-text color="light" showWhen="ios">Voltar</span>
          <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
        </button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="bgApp">

  <ion-card>
    <ion-card-header>
      Categoria: {{tp}}
    </ion-card-header>
    <ion-card-content>
     {{descricao}}
      <br />
      <p *ngFor="let arq of arrArquivos" (click)="viewArquivo(arq)" text-wrap class="linkDownload">
        <ion-icon name="attach" item-start></ion-icon>
        Visualizar arquivo
      </p>
      <br />
      <p *ngIf="strDataDeRealizacao">Data de Realização: {{strDataDeRealizacao}}</p>
      <p>
        <span class="pub" *ngIf="publico"><ion-icon name="home"></ion-icon> Público</span>
        <span class="priv" *ngIf="!publico"><ion-icon name="person"></ion-icon> Privado</span>
      </p>
      <p *ngIf="nomeUsuario"><ion-icon name="person"></ion-icon> Att: {{nomeUsuario}}</p>

    </ion-card-content>
  </ion-card>
 
</ion-content>