﻿<ion-header>
  <ion-toolbar color="topComunicado">
    <ion-title>
      Nova Ocorrência
    </ion-title>
    <ion-buttons start>
        <button ion-button (click)="dismiss()">
          <span ion-text color="light" showWhen="ios">Voltar</span>
          <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
        </button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <form [formGroup]="form" (submit)="novaOcorrencia()">
   
    <ion-list no-lines>

      <ion-item>
        <ion-label stacked>Descrição</ion-label>
        <ion-textarea placeholder="Entre com sua ocorrência." formControlName="descricao" rows="5"></ion-textarea>
      </ion-item>

      <ion-item text-wrap *ngIf="ocorrenciaPublica">
        <ion-label class="txtPermiteAdministracao">Esta ocorrência é restrita a Administração.</ion-label>
        <ion-checkbox color="topComunicado" formControlName="publica"></ion-checkbox> 
      </ion-item>

      <ion-item>
        <button ion-button round padding type="button" color="topComunicado" (click)="takePic('camera')">Câmera</button>
        <button ion-button round padding type="button" color="topComunicado"(click)="takePic('galeria')">Galeria</button>
      </ion-item>

      <ion-item *ngIf="pathPreviewImage">
          <img src="{{pathPreviewImage}}" style="max-width:280px;height:auto;margin:4px auto" />
      </ion-item>

      <ion-item>
           <button ion-button block padding type="submit" color="topComunicado" [disabled]="!form.valid">Criar ocorrência</button>
      </ion-item>

    </ion-list>

  </form>
</ion-content>