<ion-header>
  <ion-toolbar color="topComunicado">
    <ion-title>
      <ion-icon name="book"></ion-icon> Ocorrência
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="light" showWhen="ios">Voltar</span>
        <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="bgApp">

  <ion-card>
     <img src="{{foto}}" *ngIf="foto" />

     <ion-card-content>
        
        <p> 
            {{descricao}}<br /><br />
            <span *ngIf="nomeResponsavel">
                Por: {{nomeResponsavel}}
            </span><br />
            Em: {{strDataDeCadastro}}
            <br />
            <span *ngIf="resolvida">
                 <ion-icon name="checkmark"></ion-icon> Resolvida
            </span>
            <span class="pub" *ngIf="publica">
                <ion-icon name="people"></ion-icon> Pública
             </span>
             <span class="priv" *ngIf="!publica">
                <ion-icon name="person" ></ion-icon> Privada
             </span>
         </p>
         <p *ngIf="parecer">
            <ion-icon name="book"></ion-icon> Parecer <br /> {{parecer}}
         </p> 
    </ion-card-content>
   
  </ion-card>

</ion-content>