<!--
  Generated template for the NewPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
     <ion-navbar color="topComunicado">
         <ion-title>Arquivos</ion-title>
     </ion-navbar>
 </ion-header>
                
 <ion-content class="bgApp">
    <!-- <ion-row class="marginTop">
       <ion-col *ngFor="let pasta of arrFolders">
           <button ion-button color="topComunicado" clear block class="text-on-bottom" (click)="getArquivos(pasta)">
              <ion-icon name="folder" class="custom-icon-folder"></ion-icon><label class="rotuloFolder">{{pasta}}</label>
            </button>       
       </ion-col>  
       <ion-col>
          <button ion-button color="topComunicado" clear block class="text-on-bottom" (click)="getArquivos('todas')">
             <ion-icon name="folder" class="custom-icon-folder"></ion-icon><label class="rotuloFolder">Todas</label>
           </button>       
      </ion-col>           
    </ion-row>          -->

    <ion-list>
        <ion-item text-wrap (click)="getArquivos('todas')" class="bgLista">
            <ion-label>
                Todas
            </ion-label>
            <ion-icon item-end color="topComunicado" name="folder" class="custom-icon-folder"></ion-icon>
        </ion-item>   
        <ion-item text-wrap *ngFor="let pasta of arrFolders" class="fontSize" (click)="getArquivos(pasta)" class="bgLista">
            <ion-label>
                {{pasta}}
            </ion-label>
            <ion-icon item-end color="topComunicado" name="folder" class="custom-icon-folder"></ion-icon>
        </ion-item> 
       
   </ion-list> 
  </ion-content>