﻿<!--
  Generated template for the NewPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-toolbar color="topComunicado">
      <ion-title>
          <ion-icon name="folder"></ion-icon> Arquivos
      </ion-title>
      <ion-buttons start>
          <button ion-button (click)="dismiss()">
            <span ion-text color="light" showWhen="ios">Voltar</span>
            <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
          </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content>
   <ion-toolbar color="subComunicado">
       <ion-searchbar (ionInput)="getItems($event)" placeholder="Buscar arquivo" showCancelButton="true" cancelButtonText="Cancelar"></ion-searchbar>
   </ion-toolbar>
   <ion-list>  
     <ion-item text-wrap *ngFor="let comunicado of items" (click)="openModal(comunicado.id)">
        <span class="dataDisplay"> {{comunicado.strDataDeCadastro}}</span><br />
        <span class="sizeFont"> {{ comunicado.titulo }}</span>
     </ion-item>
  </ion-list> 
 
</ion-content>