﻿<!--
  Generated template for the NewPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="topComunicado">
    <ion-title>Comunicados</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="bgApp">

    <ion-toolbar color="subComunicado">
        <ion-searchbar (ionInput)="getItems($event)" placeholder="Buscar comunicado" showCancelButton="true" cancelButtonText="Cancelar"></ion-searchbar>
    </ion-toolbar>

    <ion-card *ngFor="let comunicado of items" (click)="openModal(comunicado.id)">
        <ion-card-content>
            <ion-item text-wrap>
                <ion-avatar item-start text-center>
                    <span *ngIf="comunicado.publico"> 
                      <ion-icon name="home" color="topComunicado" class="custom-icon"></ion-icon><br />
                         <span class="txtLabel">Público</span>
                    </span>
                    <span *ngIf="!comunicado.publico">
                      <ion-icon name="person" color="topComunicado" class="custom-icon"></ion-icon> <br />
                       <span class="txtLabel">Privado</span>
                      </span>
                </ion-avatar>
                <label>
                    {{ comunicado.titulo }}
                    <p class="dataDisplay">{{comunicado.strDataDeCadastro}}</p>
                    <p>{{ comunicado.descricao | limitTo : 140 }}</p>
                </label>
            </ion-item>
        </ion-card-content>
        <ion-item>
            <span class="txtLabel" *ngIf="comunicado.nomeUsuario">Att: {{ comunicado.nomeUsuario }}</span>
           <ion-icon *ngFor="let arquivo of comunicado.listaDeArquivo" item-end item-right name="ios-link" class="iconAnexo"></ion-icon>
        </ion-item>
      </ion-card>
</ion-content>
