﻿<ion-header>

  <ion-navbar color="topComunicado">
    <ion-title>Ocorrências</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="bgApp">

      <ion-refresher (ionRefresh)="doRefresh($event)">
          <ion-refresher-content></ion-refresher-content>
       </ion-refresher>

          <ion-toolbar color="subComunicado">
              <ion-searchbar (ionInput)="getItems($event)" placeholder="Buscar ocorrência" showCancelButton="true" cancelButtonText="Cancelar"></ion-searchbar>
          </ion-toolbar>
      
          <ion-card *ngFor="let ocorrencia of items" (click)="openModal(ocorrencia)">
              <ion-card-content>
                  <ion-item text-wrap>
                      <ion-avatar item-start text-center>
                          <span *ngIf="ocorrencia.publica"> 
                            <ion-icon name="book" color="topComunicado" class="custom-icon"></ion-icon><br />
                               <span class="txtLabel">Público</span>
                            </span>
                          <span *ngIf="!ocorrencia.publica">
                            <ion-icon name="book" color="topComunicado" class="custom-icon"></ion-icon> <br />
                             <span class="txtLabel">Privado</span>
                            </span>
                      </ion-avatar>
                      <label>
                          <p class="dataDisplay">{{ocorrencia.strDataDeCadastro}} - {{ocorrencia.nomeResp}}</p>
                          <p>{{ ocorrencia.descricao | limitTo : 140 }}</p>
                          <p *ngIf="ocorrencia.resolvida" class="pub"> <ion-icon name="md-checkmark"></ion-icon> Resolvida </p>
                          <p *ngIf="!ocorrencia.resolvida" class="priv"><ion-icon name="md-checkmark"></ion-icon> Pendente </p>
                      </label>
                  </ion-item>
              </ion-card-content>
            </ion-card>

  <ion-fab right bottom *ngIf="ocorrenciaControle">
    <button ion-fab color="topComunicado" (click)="openModalNovaOcorrencia()"><ion-icon name="add"></ion-icon></button>
    <!--<ion-fab-list side="left">
      <button ion-fab><ion-icon name="logo-facebook"></ion-icon></button>
      <button ion-fab><ion-icon name="logo-twitter"></ion-icon></button>
      <button ion-fab><ion-icon name="logo-vimeo"></ion-icon></button>
      <button ion-fab><ion-icon name="logo-googleplus"></ion-icon></button>
    </ion-fab-list>-->
  </ion-fab>

</ion-content>